<div class="row full-height">
    <div class="col col-12 align-self-start">
        <div class="amount-form">
            <form class="form form-white">
            <h4>Select currency and amount</h4>
                <div class="form-group">
                    <div class="box-control">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="0.00" aria-label="Recipient's username" aria-describedby="addon">
                            <span class="input-group-addon" id="addon">
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">BTC</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">USD</a>
                                        <a class="dropdown-item">EUR</a>
                                        <a class="dropdown-item">GBR</a>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <ul class="nav nav-period nav-cur justify-content-between">
                        <li class="active"><a href="#">USD</a></li>
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">GBR</a></li>
                        <li><a href="#">RUB</a></li>
                        <li><a href="#">BTC</a></li>
                    </ul>
                </div>
                <div class="form-total">
                    <div class="amount-total-line commission">
                        <div class="row justify-content-between"><div class="col">Commission: 3.5% + $ 0.25</div><div class="col col-sm-auto">+ $ 0.00</div></div>
                    </div>
                    <div class="amount-total-line">
                        <div class="row justify-content-between"><div class="col">Total amount</div><div class="col col-sm-auto">0.00</div></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col col-12 align-self-end">
        <div class="amount-total">
            <div class="amount-total-line">
                <div class="row justify-content-between"><div class="col">Available</div><div class="col col-sm-auto">$ 0.00</div></div>
            </div>
            <div class="amount-total-line">
                <div class="row justify-content-between"><div class="col">In orders</div><div class="col col-sm-auto">$ 0.00</div></div>
            </div>
        </div>
    </div>
</div>
