<div class="dashboard-courses-list">
    <div class="item-courses">
        BTC/USD
        <div class="value">$15.0000</div>
        <div class="rate top"><i class="icon icon-arrow-up"></i> 0.07%</div>
    </div>
    <div class="item-courses">
        BTC/ETH
        <div class="value">9.772816</div>
        <div class="rate top"><i class="icon icon-arrow-up"></i> 0.07%</div>
    </div>
    <div class="item-courses">
        BTC/EUR
        <div class="value">€2249.17814</div>
        <div class="rate"><i class="icon icon-arrow-down"></i> 0.07%</div>
    </div>
    <div class="item-courses">
        BTC/USD
        <div class="value">$15.0000</div>
        <div class="rate top"><i class="icon icon-arrow-up"></i> 0.07%</div>
    </div>
    <div class="item-courses">
        BTC/ETH
        <div class="value">9.772816</div>
        <div class="rate top"><i class="icon icon-arrow-up"></i> 0.07%</div>
    </div>
    <div class="item-courses">
        BTC/EUR
        <div class="value">€2249.17814</div>
        <div class="rate"><i class="icon icon-arrow-down"></i> 0.07%</div>
    </div>
</div>