<div class="order-book">
        <div class="tile-title">
            <div class="row justify-content-between">
                <div class="col align-self-center">
                    <h3>Order book BTC/USD</h3>
                </div>
                <div class="col col-md-auto">
                    <div class="tile-nav">
                        <div class="row row-md">
                            <div class="col">
                                <a href="#" class="btn btn-outline-primary">Full Book</a>
                            </div>
                            <div class="col align-self-center">
                                <ul class="nav nav-btn-tabs box-inline" role="tablist">
                                    <li role="presentation"><a class="link active" href="#table" aria-controls="table" role="tab" data-toggle="tab"><i class="icon icon-orders-list"></i></a></li>
                                    <li role="presentation"><a class="link" href="#chart" aria-controls="chart" role="tab" data-toggle="tab"><i class="icon icon-orders"></i></a></li>
                                    <li role="presentation"><a class="link" href="#chart" aria-controls="chart" role="tab" data-toggle="tab"><i class="icon icon-chart-orders"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="chart">
                <div class="order-chart">
                    <img src="images/graph.png" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active show" id="table">
                <div class="order-chart-bg">
                    <img src="images/graph.png" />
                </div>
                <div class="order-table">
                    <div class="row row-lg">
                        <div class="col-6 border-right">
                            <div class="order-name">
                                <div class="name"><span class="circle circle-border gray"></span> Sell orders</div>
                                <div class="info-balance">
                                    <span class="label">Total BTC available</span>
                                    <span class="value">1733.84009561</span>
                                </div>
                            </div>
                            <div class="order-table-heading">
                                <div class="heading-table">
                                    <table class="table table-prices table-amount">
                                        <thead>
                                        <tr><th>BTC Price</th><th>BTC Amount</th><th>USD Amount</th></tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="order-name">
                                <div class="name"><span class="circle circle-border blue"></span> Buy orders</div>
                                <div class=" info-balance">
                                    <span class="label">Total USD available</span>
                                    <span class="value">1734542.83</span>
                                </div>
                            </div>
                            <div class="order-table-heading">
                                <div class="heading-table">
                                    <table class="table table-prices table-amount">
                                        <thead>
                                        <tr><th>BTC Price</th><th>BTC Amount</th><th>USD Amount</th></tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-table-body">
                        <div class="order-scroll-md scrollbar-inner">
                            <div class="row">
                                <div class="col-6 border-right">
                                    <div class="table-sellers">
                                        {% include "templates/tables/_table-amount.html" %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="table-buyers">
                                        {% include "templates/tables/_table-amount.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>