<div class="profile row row-no full-height">
    <div class="profile-main col-sm-3 full-height">
        <div class="tile-body">
            <div class="tile-title text-center"><h3>Your Profile</h3></div>
            <div class="profile-info">
                <div class="user-avatar lg"></div>
                <div class="user-status gold">Gold</div>
                <div class="user-name h4">Matthew Lane</div>
                <div class="user-login">@tasics <i class="icon icon-verify green-lite"></i></div>
            </div>
            <div class="tile-button text-center">
                <a href="/" class="btn btn-primary"><i class="icon icon-camera icon-left icon-middle"></i>Upload</a>
                <a href="/" class="btn btn-outline-primary">Reset</a>
            </div>
        </div>

    </div>
    <div class="profile-tabs col-sm-9">
        <ul class="nav nav-tabs nav-tabs-blue justify-content-between" role="tablist">
            <li role="presentation"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Personal Info</a></li>
            <li role="presentation"><a  href="#activity" aria-controls="activity" role="tab" data-toggle="tab">Account Activity</a></li>
            <li role="presentation"><a href="#verification" aria-controls="verification" role="tab" data-toggle="tab">Verification</a></li>
            <li role="presentation"><a class="active" href="#authentification" aria-controls="authentification" role="tab" data-toggle="tab">Authentification</a></li>
            <li role="presentation"><a href="#logout" aria-controls="logout" role="tab" data-toggle="tab">Logout</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="info">
                <div class="row row-lg">
                    <div class="col">
                        <h3>Personal Information</h3>
                        {% include "templates/forms/_personal-information.html" %}
                    </div>
                    <div class="col">
                        <h3>Change Password</h3>
                        {% include "templates/forms/_change-password.html" %}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="activity">
                <div class="row">
                    <div class="col"><h3>Account Activity</h3></div>
                    <div class="col col-sm-auto">
                        {% include "templates/parts/_date-range.html" %}
                    </div>
                </div>

                {% include "templates/parts/_profile-activity.html" %}

                <div class="tile-button text-right">
                    <a href="/" class="btn btn-outline-primary">Previous</a>
                    <a href="/" class="btn btn-outline-primary">Next</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="verification">
                <div class="row row-lg">
                    <div class="col">
                        <h3>Verification</h3>
                        {% include "templates/forms/_verification-type.html" %}
                        <h3>Profile information</h3>
                        {% include "templates/forms/_profile-information.html" %}
                    </div>
                    <div class="col">
                        <h3>Photos of Documents</h3>
                        {% include "templates/forms/_photos-documents.html" %}
                    </div>
                </div>
                <div class="form-btn text-center">
                    <button type="submit" class="btn btn-primary btn-xl"><span class="upper">Submit</span></button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="authentification">
                {% include "templates/parts/_authentification.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="logout">
                <h3>Logout</h3>
                <div class="form-group-lg">
                    <div class="form-text">Please click on the button below to logout</div>
                </div>
                <div class="form-group-lg">
                    <a href="signin.html" class="btn btn-outline-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>