<div class="quick-stake">
    <div class="tile-title">
        <div class="row">
            <div class="col-4">
                <h3><span class="hide-laptop">Quick Sell</span> BTC</h3>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col quick-info"><div class="label">Available:</div> <div class="value dark-blue">0.00000</div></div>
                    <div class="col quick-info"><div class="label">Reserved:</div> <div class="value">0.000000</div></div>
                    <div class="col quick-info"><div class="label">Total:</div> <div class="value">0.000000</div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tile-form">
        <div class="quick-slide">
            <div class="row justify-content-between">
                <a class="link-point" data-value="0.00" data-return="#start-sell"><span class="point"></span></a>
                <a class="link-point" data-value="25.00" data-return="#start-sell"><span class="point"></span></a>
                <a class="link-point" data-value="50.00" data-return="#start-sell"><span class="point"></span></a>
                <a class="link-point" data-value="75.00" data-return="#start-sell"><span class="point"></span></a>
                <a class="link-point" data-value="100.00" data-return="#start-sell"><span class="point"></span></a>
            </div>
        </div>
        <div class="row row-md">
            <div class="col-6">
                <div class="box-control">
                    <div class="control-caption">USD</div>
                    <input type="text"  id="start-sell" class="form-control" placeholder="0.00">
                </div>
            </div>
            <div class="col-6">
                <div class="box-control">
                    <div class="control-caption">BTC</div>
                    <input type="text" class="form-control" placeholder="0.00">
                </div>
            </div>
        </div>
    </div>
    <div class="tile-button text-center">
        <a href="#" class="btn btn-outline-primary">Quick sell BTC</a>
    </div>
</div>