<div class="tile-table">
    <div class="name-table">
        <h3>Transactions</h3>
    </div>
    {% include "templates/tables/_table-transactions.html" %}
    <nav>
        <div class="pagination justify-content-center">
            <a href="#" class="link active">1</a>
            <a href="#" class="link">2</a>
            <a href="#" class="link">3</a>
            <a href="#" class="link">4</a>
            <a href="#" class="btn btn-outline-primary">Next</a>
        </div>
    </nav>
</div>