        <div class="tile-title">
            <div class="row justify-content-between">
                <div class="col">
                    <h3>Classic Candlestick</h3>
                </div>
                <div class="col col-md-auto">
                    <div class="tile-nav">
                        <a class="btn btn-collapsed" role="button" data-toggle="collapse"  href="#collapseChart" aria-expanded="true" aria-controls="collapseChart">
                            <i class="icon icon-collapse"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseChart" class="panel-collapse collapse in show">
            <ul class="nav-period">
                <li><a href="#">1m</a></li>
                <li><a href="#">30m</a></li>
                <li><a href="#">1h</a></li>
                <li><a href="#">1d</a></li>
                <li class="active"><a href="#">1w</a></li>
                <li><a href="#">1mo</a></li>
                <li><a href="#">1y</a></li>
            </ul>
            <div class="tile-chart">
                <div class="chart-candlestick">
                    <img src="images/chart.jpg" alt="">
                </div>
            </div>
        </div>