$font_family: 'GothamPro', Arial, Helvetica, sans-serif;
$font_family-light: 'GothamPro-Light', Arial, Helvetica, sans-serif;
$font_family-medium: 'GothamPro-Medium', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #2a2b30;
$color_gray_2: #80869C;
$color_gray_3: #9299AC;
$color_text: #a2a2a2;
$color_text_form: #3E4455;
$color_label: #848CA0;
$color_green_1: #4CAF50;
$color_green_2: #17BC9C;
$color_red_1: #E83B3F;
$color_red_2: #FE3678;
$color_red_3: #EF5350;
$color_yellow_1: #ffdd2b;
$color_blue_1: #1F4B9D;
$color_blue_2: #e1e9ef;
$color_blue_3: #274868;
$color_blue_4: #74aefc;
$color_blue_5:#1875F0;
$color_blue_6:#2D68EB;
$color_bg: #ffffff;
$color_bg-dashboard: #ececef;
$color_bg-courses: #2F3C5D;
$color_bg_control: #eff1f5;
$color_bg_control-disabled:#F7F8FC;
$color_bg_table: #f6f7f9;
$color_link: #B6BCCA;
$color_link-active: #18378B;
$color_link-page: #9299A2;

$border_color_1:#C2C7D3;
$border_color_2:#E4E7EC;
$border_color_3:#DEE1E8;

body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: normal;
  background-color: $color_bg;
  min-height: 400px;
  min-width: 320px;
  color: $color_gray_1;
}
html,body{
  width: 100%;
  height: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_link;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
  &:hover{
    color: $color_gray_1;
  }
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  margin-bottom: 0.75em;
  color: $color_black;
  line-height: 1.28;
}
h1, .h1{
  font-size: 30px;
}
h2, .h2{
  font-size: 25px;
}
h3, .h3{
  font-size: 18px;
}
h4, .h4{
  font-size: 16px;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  @include web_transition(all 0.2s ease-in-out);
}
.clearfix:after{
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.flexible{
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -ms-flex-pack: justify!important;
}
.padding-block{
  padding-left: 30px;
  padding-right: 30px;
  &-xl{
    padding-left: 70px;
    padding-right: 70px;
  }
}
.full-height{
  height: 100%;
}
.full-max-height{
  min-height: 100%;
}
.is-vertical{
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*colors*/
.gray{
  color: $color_gray_3;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
}
.blue{
  color: $color_blue_5;
}
.dark-blue{
  color: $color_link-active;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}
.green-lite{
  color: $color_green_2;
}
.row{
  &-sm{
    margin: 0 -5px;
    >[class*='col']{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &-no{
    margin: 0;
    >[class*='col']{
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-md{
    margin: 0 -10px;
    >[class*='col']{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-lg{
    margin: 0 -35px;
    >[class*='col']{
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

/*CONTENT*/
.wrapper{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.content-center{
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}