.btn{
  font-size: 13px;
  text-align: center;
  line-height: normal;
  border-radius: 5px;
  position: relative;
  border:1px solid;
  padding: 0.657rem 1.75rem;
  &.focus, &:focus{
    box-shadow: none;
  }
  &-sm{

  }
  &-lg{
    font-family: $font_family-medium;
    font-size: 14px;
    border-radius: 7px;
    padding: 0.85rem 2.75rem;
  }
  &-xl{
    font-family: $font_family-medium;
    font-size: 12px;
    border-radius: 10px;
    padding:1.25rem 2.5rem;
    text-transform: uppercase;
    min-width: 200px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-default{
    border-color: $border_color_1;
    color: $color_blue_1;
  }
  &-danger{
    background: $color_red_3;
    border-color: $color_red_3;
  }
  &-success{
    background: $color_green_1;
    border-color: $color_green_1;
  }
  &-info{
    background-color: $color_blue_5;
    border-color:  $color_blue_5;
    &:hover{
      background-color: $color_blue_1;
      border-color:  $color_blue_1;
    }
  }
  &-primary{
    background-color: $color_blue_1;
    border-color:  $color_blue_1;
  }
  &-outline-primary{
    border-color:  $color_blue_1;
    color:  $color_blue_1;
    &:hover{
      background-color: $color_blue_1;
      border-color:  $color_blue_1;
    }
  }
  &-collapsed{
    padding: 0;
    width: 20px;
    height: 20px;
    border: 0;
  }
  &-circle{
    font-size: 12px;
    border-radius: 2em;
    text-transform: uppercase;
    padding:1.25em 2.25em;
    font-family: $font_family-medium;
    &.btn-lg{
      padding: 1.665em 3em;
      border-radius: 2.5em;
      border-width: 2px;
    }
  }
  &-social{
    border:2px solid $border_color_2;
    color:$color_text_form;
    text-transform: none;
    font-size: 14px;
    font-family: $font_family;
    padding: 1.15em 1.78em;
    text-align: left;
    line-height: 21px;
    .icon-left{
      margin-right: 10px;
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  position: relative;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-question{
    font-size: 18px;
    color: $border_color_1;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
}