.icon{
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 0.5em;
  }
  &-right{
    margin-left:0.5em;
  }
  &-middle{
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
  }
}
@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/glyphter/Glyphter.eot');
  src: url('../fonts/glyphter/Glyphter.eot?#iefix') format('embedded-opentype'),
  url('../fonts/glyphter/Glyphter.woff') format('woff'),
  url('../fonts/glyphter/Glyphter.ttf') format('truetype'),
  url('../fonts/glyphter/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -0.225em;
}
.icon-markets:before{content:'\0041';}
.icon-traders:before{content:'\0042';}
.icon-contracts:before{content:'\0043';}
.icon-transactions:before{content:'\0044';}
.icon-watchlist:before{content:'\0045';}
.icon-deposit:before{content:'\0046';}
.icon-withdraw:before{content:'\0047';}
.icon-balance:before{content:'\0048';}
.icon-book:before{content:'\0049';}
.icon-bell:before{content:'\004a';}
.icon-arrow-down:before{content:'\004b';}
.icon-arrow-up:before{content:'\004c';}
.icon-btc-icon:before{content:'\004d';}
.icon-calendar:before{content:'\004e';}
.icon-chart-orders:before{content:'\004f';}
.icon-rp-icon:before{content:'\0050';}
.icon-down:before{content:'\0051';}
.icon-orders-list:before{content:'\0052';}
.icon-orders:before{content:'\0053';}
.icon-question:before{content:'\0054';}
.icon-men:before{content:'\0055';}
.icon-woman:before{content:'\0056';}
.icon-verify:before{content:'\0057';}
.icon-investors:before{content:'\0058';}
.icon-down:before{content:'\0059';}
.icon-etherium-icon:before{content:'\005a';}

.icon-collapse{
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/minus.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.collapsed{
  >.icon-collapse{
    &:after{
      width: 20px;
      height: 20px;
      background: url("../images/icons/minus.svg") no-repeat center;
      background-size: 100% auto;
      position: absolute;
      top:0;
      left:0;
      @include web_transform(rotate(90deg));
      content: '';
    }
  }
}
.icon-close{
  width: 18px;
  height: 18px;
  background-image: url("../images/icons/cross.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.icon-facebook{
  width: 21px;
  height:21px;
  background-image: url("../images/facebook.png");
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.icon-google-p{
  width: 27px;
  height:21px;
  background-image: url("../images/google-p.png");
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.icon-exclam{
  width: 6px;
  height:28px;
  background-image: url("../images/icons/exclam.svg");
  display: inline-block;
  position: relative;
}
.icon-check{
  width: 34px;
  height:23px;
  background-image: url("../images/icons/check.svg");
  display: inline-block;
  position: relative;
}
.icon-camera{
  width: 14px;
  height:12px;
  background-image: url("../images/icons/photo-camera.svg");
  display: inline-block;
  position: relative;
}
.icon-compliant{
  width: 20px;
  height:20px;
  background-image: url("../images/icons/compliant.svg");
  display: inline-block;
  position: relative;
}
.icon-key{
  width:20px;
  height:20px;
  background-image: url("../images/icons/key.svg");
  display: inline-block;
  position: relative;
}
.icon-speed{
  width: 33px;
  height:20px;
  background-image: url("../images/icons/speed.svg");
  display: inline-block;
  position: relative;
}
.icon-upload{
  width: 50px;
  height:40px;
  background-image: url("../images/icons/upload-folder.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.icon-passport{
  width: 110px;
  height: 73px;
  background-image: url("../images/icons/passport.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left:45px;
}
.icon-card-flying{
  width: 145px;
  height: 63px;
  background-image: url("../images/icons/card-flying.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left:45px;
}
.icon-mc{
  width: 31px;
  height: 20px;
  background-image: url("../images/deposit-icons/MC-new.svg");
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left:45px;
}