.nav{
  &-main{
    font-size: 14px;
    font-family: $font_family-medium;
    text-transform: uppercase;
    a{
      color: $color_link;
    }
    li{
      display: inline-block;
      vertical-align: top;
      &.active{
        a{
          color: $color_link-active;
        }
      }
      &+li{
        margin-left:2.85em;
      }
    }
  }
  &-down{
    line-height: 24px;
    a{
      color: $color_gray_2;
    }
  }
  &-page{
    line-height: 34px;
    font-size: 14px;
    a{
      color: $color_link-page;
    }
    .icon{
      font-size: 20px;
    }
    li{
      display: inline-block;
      vertical-align: top;
      &:not(.active){
        .icon{
          color: $border_color_1;
        }
      }
      &.active{
        a{
          color: $color_link-active;
          font-family: $font_family-medium;
        }
      }
      &+li{
        margin-left:2.85em;
      }
    }
  }
  &-period{
    border-bottom: 1px solid $border_color_2;
    padding: 0 20px;
    font-size: 13px;
    li{
      display: inline-block;
      vertical-align: top;
      &+li{
        margin-left: 25px;
      }
      a{
        border-bottom: 2px solid transparent;
        margin-bottom: -1px;
        display: block;
        padding: 0 3px 5px;
        text-align: center;
        line-height: 20px;
      }
      &.active{
        a{
          color: $color_link-active;
          border-bottom-color: $color_link-active;
          font-weight: bold;
        }
      }
    }
  }
  &-tabs{
    font-size: 14px;
    li{
      a{
        border-bottom: 2px solid transparent;
        margin-bottom: -1px;
        display: block;
        color: $color_black;
        text-decoration: none;
        margin-right: 10px;
        padding: 5px 10px 15px;
        &.active{
          border-bottom-color: $color_blue_1;
          font-weight: bold;
        }
      }
    }
    &-blue{
      border-bottom-color: $border_color_2;
      margin-bottom: 40px;
      li{
        margin:0;
        a{
          border-bottom: 4px solid $border_color_2;
          padding: 24px 0 18px;
          min-width: 110px;
          text-align: center;
          color: $color_link-page;
          margin: 0;
          &.active{
            border-bottom-color: $color_blue_5;
            font-weight: normal;
            color: $color_blue_1;
          }
        }
      }
      &-sm{
        li{
          a{
            min-width: 30px;
          }
        }
      }
    }
  }
  &-group{
    width: 100%;
    margin-bottom: 15px;
    border: 0;
    .btn{
      padding-left: 0;
      padding-right: 0;
      border-color: $border_color_1;
      &-buy{
        color: $color_blue_5;
        &:hover{
          color: $color_blue_5;
          background: $color_blue_2;
          border-color: $border_color_1;
        }
        &.active{
          background: $color_blue_6;
          border-color: $color_blue_6;
          color: $color_white;
        }

      }
      &-sell{
        color: $color_gray_3;
        &:hover{
          opacity: 0.7;
          background: $color_gray_3;
          border-color: $color_gray_3;
          color: $color_white;
        }
        &.active{
          background: $color_gray_3;
          border-color: $color_gray_3;
          color: $color_white;
          opacity: 1;
        }
      }

    }
  }
  &-btn-tabs{
    li{
      display: inline-block;
      vertical-align: top;
      padding: 0 10px;
      font-size: 16px;
      a{
        &.active{
          color: $color_blue_5;
        }
      }
    }
  }
  &-cur{
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    border-bottom: 1px solid #3d4968;
    margin-top: 30px;
    li{
      a{
        color: $color_white;
      }
      &.active{
        a{
          border-color: $color_blue_5;
          color:$color_blue_4;
        }
      }
    }
  }
  &-value{
    li{
      &+li{
        margin-left: 20px;
      }
      a{
        padding: 10px 20px;
        display: block;
        color:$color_label;
        border: 1px solid $border_color_2;
        border-radius: 4px;
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 28px;
        .icon{
          font-size: 26px;
          vertical-align: middle;
        }
        .box-icon{
          margin: 0 -9px;
        }
      }
      &.active{
        a{
          border-color: $color_blue_5;
          color: $color_blue_5;
          box-shadow: inset 0 0 0 1px $color_blue_5;
        }
      }
    }

  }
}