@media(max-width: 1280px) {
  .hide-laptop {
    display: none!important;
  }
}
@media(min-width: 1025px) {
  .hide-desktop {
    display: none!important;
  }
  .modal{
    &-sm{
      margin-top: 200px;
    }
  }
}

@media(max-width: 1024px) {
  .hide-tablet {
    display: none!important;
  }
}

@media(min-width: 769px) {
  .show-mobile {
    display: none!important;
  }
}

@media(max-width: 768px) {
  .hide-mobile {
    display: none!important;
  }
}