<footer class="no-login">
    <div class="padding-block">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="copy">
                    © Copyright 2017
                </div>
                <div class="navigate">
                    <a href="/" class="link-underline">Terms and Conditions</a> • <a href="/" class="link-underline">Privacy policies</a>
                </div>
            </div>
        </div>
    </div>
</footer>