<footer>
    <div class="navigate">
        <div class="padding-block">
            <div class="row justify-content-between">
                <div class="col">
                    <h3>News & Annoucments</h3>
                    <ul class="nav-down">
                        <li><a href="/">Automatic deposits</a></li>
                        <li><a href="/">New payment methods</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Ex</h3>
                    <ul class="nav-down">
                        <li><a href="/">How to Buy Bitcoin?</a></li>
                        <li><a href="/">Market Data</a></li>
                        <li><a href="/">Order book</a></li>
                        <li><a href="/">Fees</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>About</h3>
                    <ul class="nav-down">
                        <li><a href="/">About Us</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/">Privacy Policy</a></li>
                        <li><a href="/">Terms of Use</a></li>
                        <li><a href="/">AML Policy</a></li>
                        <li><a href="/">Media</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Resources</h3>
                    <ul class="nav-down">
                        <li><a href="/">API</a></li>
                        <li><a href="/">Documentation</a></li>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="/">Support</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Support</h3>
                    <div class="text">
                    If you experience any problems with your account, please do not hesitate to submit a ticket via our support center or chat to us live.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partners">
        <div class="padding-block">
            <div class="row">
                <div class="col-2">
                    Payment partners:
                </div>
                <div class="col-10">
                    <div class="row justify-content-between">
                        <div class="col"><img src="images/footer-icons/payza.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/perfect_money.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/astropay.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/bankwire.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/pp.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/mg.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/sepa.png" alt=""></div>
                        <div class="col"><img src="images/footer-icons/wu.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="padding-block">
            © Copyright 2017
        </div>
    </div>
</footer>