<header>
    <div class="padding-block">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="flexible">
                    <div class="logo">
                        <img src="images/logo.svg" alt="">
                    </div>
                    <ul class="nav-main">
                        <li class="active"><a href="trading.html">Trading</a></li>
                        <li><a href="/">GETTING STARTED</a></li>
                        <li><a href="/">F.A.Q.</a></li>
                        <li><a href="/">EDUCATION</a></li>
                        <li><a href="/">SUPPORT</a></li>
                        <li><a href="/">BLOG</a></li>
                    </ul>
                </div>
                <div class="navigate flexible">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle flexible" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-avatar"></div>
                            Walter Bennett
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="profile.html">Profile</a>
                            <a class="dropdown-item" href="signin.html">Logout</a>
                        </div>
                    </div>
                    <a href="#" class="link"><i class="icon icon-book"></i></a>
                    <a href="#" class="link"><i class="icon icon-bell"></i><span class="badge badge-pill badge-danger">1</span></a>
                </div>
            </div>
        </div>
    </div>
</header>