<div class="header-navigate">
    <div class="padding-block">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <ul class="nav-page">
                    <li class="active"><a href="withdraw.html"><i class="icon icon-withdraw icon-left"></i>Withdraw</a></li>
                    <li><a href="/"><i class="icon icon-investors icon-left"></i>Investors</a></li>
                    <li><a href="/"><i class="icon icon-traders icon-left"></i>Traders</a></li>
                    <li><a href="/"><i class="icon icon-contracts icon-left"></i>Contracts</a></li>
                    <li><a href="transactions.html"><i class="icon icon-transactions icon-left"></i>Transactions</a></li>
                    <li><a href="/"><i class="icon icon-watchlist icon-left"></i>Watchlist</a></li>
                    <li><a href="deposit.html"><i class="icon icon-deposit icon-left"></i>Deposit</a></li>
                    <li><a href="withdraw.html"><i class="icon icon-withdraw icon-left"></i>Withdraw</a></li>
                </ul>
                <div class="balance align-self-center">
                   {% include "templates/parts/_dropdown-balance.html" %}
                </div>
            </div>
        </div>
    </div>
</div>