<header class="no-login">
    <div class="padding-block">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="logo">
                    <img src="images/logo.svg" alt="">
                </div>
                <div class="navigate flexible">
                    Don’t have an account?
                    <a href="signup.html" class="btn btn-default btn-circle">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</header>