<div class="section-intro flexible">
    <canvas id="canvas"></canvas>
    <div class="content">
        <div class="logo">
            <img src="images/logo.svg" alt="">
            <div class="text">
            Social trading platform<br/>powered by blockchain
            </div>
        </div>
    </div>
</div>