.dashboard{
  background: $color_bg-dashboard;
  &-courses{
    background: $color_bg-courses;
    width:110px;
    color: $color_white;
    margin-top: -2px;
  }
  &-amount{
    background: $color_bg-courses;
    width:360px;
    color: $color_white;
    margin-top: -2px;
    padding:20px 0 10px;
    .amount{
      &-form{
        padding:20px;
        h4{
          color: $color_white;
        }
      }
      &-total{
        padding:0 20px;
        border-top: 1px solid #3d4968;
        &-line{
          font-weight: bold;
          padding: 15px 0;
          line-height: 18px;
          &+.amount-total-line{
            border-top: 1px solid #3d4968;
          }
         &.commission{
           font-size: 13px;
           color: $color_link-page;
           padding-bottom: 7px;
           margin-top: 50px;
         }
        }
      }
    }
  }
  &-content{
    background: $color_bg-dashboard;
    padding-top:25px;
    padding-bottom:20px;
    &-right{
      width: 350px;
      .tile{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .item-courses{
    line-height: 18px;
    color: $color_white;
    padding: 15px 20px;
    border-bottom: 1px solid #3d4968;
    font-size: 13px;
    white-space: nowrap;
    .rate{
      font-family: $font_family-medium;
      color: $color_link-page;
      .icon{
        font-size: 12px;
        display: -ms-inline-flexbox;
        display: inline-flex;
      }
      &.top{
        color: $color_blue_4;
      }
    }
  }
  .tile{
    border: 1px solid #DEE1E8;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(184,184,184,0.14);
    margin-bottom: 20px;
    font-size: 13px;
    position: relative;
    &-title{
      padding: 15px 20px;
      h3,.h3{
        margin-bottom: 0;
      }
      &+.tile-title{
        border-top: 1px solid $border_color_2;
      }
    }
    &-body{
      padding: 15px 20px;
    }
    &-form{
      padding: 0 20px;
      &-center{
        max-width: 460px;
        margin: 0 auto;
      }
    }
    &-button{
      padding: 30px 20px;
      .btn{
        &+.btn{
          margin-left:20px;
        }
      }
    }
    &-chart{
      padding: 15px 0;
    }
    &-header{
      border-bottom: 1px solid $border_color_2;
      padding: 15px 20px;
    }
    &-tabs{
      border-bottom: 1px solid $border_color_2;
      padding: 20px 20px 0;
      .nav-tabs{
        margin-bottom: -1px;
      }
      &-content{
        padding-top: 20px;
        padding-bottom: 60px;
        min-height: 500px;
      }
    }
    &-table{
      padding: 20px 0;
      .name-table{
        padding: 10px 30px;
      }
    }
    &-text{
      font-size: 14px;
      line-height: 1.25;
    }
  }
}