.border {
  &-right {
    border-right: 1px solid $border_color_2;
  }
}

.name-page {
  padding: 10px 0;
}

.alert {
  background: none;
  border: 0;
  border-left: 2px solid;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 0;
  margin-bottom: 26px;
  &-danger {
    color: $color_red_1;
    border-color: $color_red_1;
  }
}

.invalid-feedback {
  font-size: 13px;
  color: $color_red_1;
  margin-top: 10px;
}

.user {
  &-avatar {
    height: 35px;
    width: 35px;
    @include border_radius(50%);
    overflow: hidden;
    line-height: 35px;
    background: $border_color_1;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    img {
      width: 100%;
    }
    &.lg {
      width: 150px;
      height: 150px;
      line-height: 150px;
      display: block;
      margin: 0 auto;
    }
  }
  &-status {
    line-height: 35px;
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;
    min-width: 90px;
    font-size: 14px;
    font-family: $font_family-medium;
    display: inline-block;
    vertical-align: top;
    &.gold {
      background: #fee59f;
      color: #db9f60;
    }
  }
  &-login {
    font-size: 12px;
    color: $color_label;
    .icon {
      font-size: 13px;
    }
  }
}

.dropdown {
  &-toggle {
    &:after {
      content: '\0059';
      font-family: 'Glyphter';
      border: 0;
      font-size: 11px;
      width: auto;
      height: auto;
      margin-left: 0.5em;
      vertical-align: middle;
    }
  }
  &-menu {
    border: 1px solid $border_color_3;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 $border_color_1;
    margin-top: 7px;
    min-width: 4rem;
  }
  &-item {
    font-size: 14px;
    padding: 8px;
    color: $color_black;
    line-height: normal;
    &:hover {
      background: $color_bg_control;
    }

  }
  &-control {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $border_color_3;
    padding: 0.859em 1.25em;
    line-height: 16px;
    display: block;
    border-radius: 4px;
    color: $color_gray_2;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    .icon {
      font-size: 16px;
    }
  }
}

.popover {
  &-header {
    font-size: 14px;
    background: $color_blue_2;
  }
  &-body {
    font-size: 12px;
  }
}

.circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: $border_color_1;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
  color: $color_white;
  &.gray {
    background: $color_gray_3;
  }
  &.green {
    background: $color_green_1
  }
  &.blue {
    background: $color_blue_5;
  }
  &.red {
    background: $color_red_3;
  }
  &-border {
    height: 8px;
    width: 8px;
    border: 2px solid;
    background: $color_white !important;
  }
  &-status {
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    .icon {
      font-size: 30px;
    }
  }
  &-md {
    width: 11px;
    height: 11px;
    margin-left: 0;
    margin-right: 0;
    &.blue {
      background: $color_blue_4;
    }
  }
}

.label {
  font-size: 13px;
  margin-bottom: 10px;
  color: $color_gray_2;
}

.content-label {
  font-family: $font_family-light;
  font-size: 12px;
  color: $color_black;
  margin-bottom: 10px;
  text-transform: uppercase;
  .percent {
    font-family: $font_family;
  }
}

.currencies {
  &-line {
    margin-bottom: 25px;
    .cur {
      font-size: 11px;
      color: $color_gray_2;
      vertical-align: top;
    }
    .content-label {
      line-height: 14px;
    }
    .label-price {
      margin-top: 20px;
    }
    .percent {
      font-size: 13px;
      margin-left: 5px;
      .icon {
        font-size: 12px;
      }
    }
  }
  &-dropdown {
    .dropdown-toggle {
      font-size: 26px;
      color: $color_black;
    }
  }
}

.progress {
  background: $border-color_2;
  height: 10px;
  &-small {
    height: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  &-bar {
    background-color: $color_blue_6;
    &-buy {
      background-color: $color_blue_6;
    }
    &-sell {
      background-color: $color_gray_3;
    }
    &-success {
      background-color: $color_green_1;
    }
    &-info {
      background-color: $color_blue_6;
    }
    &-warning {
      background-color: $color_yellow_1;
    }
    &-danger {
      background-color: $color_red_1;
    }
  }
}

.badge {
  &-danger {
    background: $color_red_2;
  }
}

.pagination {
  margin-top: 40px;
  .page-item {
    .page-link {
      color: $color_blue_1;

    }
    &.active {
      .page-link {
        background-color: $color_blue_1;
        border-color: $color_blue_1;
        color: $color_white;
      }
    }
  }
  .link {
    min-width: 30px;
    padding: 9px 5px 7px;
    color: $color_gray_2;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    &.active {
      border-color: $color_blue_1;
      color: $color_blue_1;
    }
  }
  .btn {
    padding: 9px;
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
}

.modal {
  font-size: 13px;
  &-sm {
    max-width: 400px;
  }
  &-form {
    padding: 45px 20px;
  }
  &-status {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  &-text {
    margin: 15px 0;
    line-height: 1.25;
  }
  &-btn {
    margin-top: 30px;
  }
}

.order {
  &-preview {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    font-size: 12px;
    .buy {
      color: $color_blue_6;
    }
    .at,
    .sell {
      color: $color_gray_3;
    }
    .buy, .sell {
      margin-right: 5px;
    }
    .link-close {
      margin-top: -5px;
    }
  }
  &-scroll {
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-right: 7px !important;
    margin-right: -14px;
    > .scroll-element.scroll-x {
      display: none;
    }
    &-md {
      max-height: 480px;
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      > .scroll-element.scroll-y {
        right: 5px;
      }
      > .scroll-element.scroll-x {
        display: none;
      }
    }
  }
  &-null {
    color: $color_gray_2;
  }
  &-book {

  }
  &-name {
    padding: 15px 20px;
    .name {
      font-size: 15px;
      text-transform: uppercase;
      color: $color_black;
      margin-bottom: 15px;
    }
    .label {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  &-table {
    border-top: 1px solid $border_color_2;
    position: relative;
    z-index: 1;
    .table-buyers, .table-sellers,
    .order-table-heading {
      padding: 0 20px;
    }
  }
  &-total {
    color: $color_gray_2;
    margin-top: 15px;
    .value {
      color: $color_black;
      text-align: right;
    }
    &.total {
      color: $color_black;
      padding-top: 15px;
      border-top: 1px solid $border_color_2;
    }
  }
  &-chart {
    &-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

.quick {
  &-info {
    .label {
      margin-bottom: 5px;
    }
    &:not(:last-child) {
      border-right: 1px solid $border_color_2;
    }
  }
  &-slide {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    &:before {
      width: 100%;
      height: 2px;
      background: $border_color_2;
      position: absolute;
      content: '';
      top: 11px;
      left: 0;
    }
    .link-point {
      padding: 5px 15px;
      display: block;
      position: relative;
      z-index: 1;
      .point {
        height: 15px;
        width: 5px;
        border: 1px solid $border_color_1;
        border-radius: 2px;
        background-color: $border_color_2;
        display: block;
        @include web_transition(all 0.2s ease-in-out);
      }
      &:after {
        width: 500%;
        height: 2px;
        background-color: transparent;
        position: absolute;
        content: '';
        top: 11px;
        right: 100%;
        margin-right: -18px;
        pointer-events: none;
        @include web_transition(all 0.2s ease-in-out);
      }
      &.active {
        .point {
          background: $color_blue_5;
          border-color: $color_blue_5;
        }
        &:after {
          background-color: $color_blue_5;
        }
      }
      &:nth-child(even) {
        .point {
          height: 9px;
          margin: 3px;
        }
      }
    }
  }
}

.balance {
  &-dropdown {
    position: relative;
    .link-collapsed {
      color: $color_link-page;
      text-decoration: none;
      .cur {
        color: $border_color_1;
      }
      .cur,
      .value {
        font-size: 13px;
      }
      .icon {
        font-size: 21px;
        color: $border_color_1;
      }
      .icon-down {
        font-size: 11px;
        vertical-align: middle;
      }
      &:after {
        color: $border_color_1;
      }
    }
    .panel-collapse {
      padding: 5px 15px;
      width: 400px;
      margin-top: 20px;
      position: absolute;
      top: 100%;
      right: -15px;
      border: 1px solid $border_color_3;
      border-radius: 4px;
      box-shadow: 0 2px 10px 0 $border_color_1;
      background: $color_white;
      z-index: 20;
    }
  }
  &-info {
    font-size: 12px;
    color: $color_gray_2;
    padding: 10px 0;
    line-height: 20px;
    & + & {
      border-top: 1px solid $border_color_2;
    }
    .main-info {
      line-height: 27px;
      margin-bottom: 10px;
      .value {
        border-right: 1px solid $border_color_2;
        padding-right: 10px;
      }
      .cur {
        color: $color_blue_6;
        .icon {
          font-size: 27px;
          display: inline-flex;
          display: -ms-inline-flexbox;
          vertical-align: middle;
          margin-right: 7px;
        }
      }
    }
  }
}

.payment {
  &-method {
  }
  &-description {
    padding: 40px 0 30px;
    line-height: 1.25;
    .icon {
      font-size: 18px;
      margin-bottom: 10px;
      color: $color_label;
      display: inline-flex;
      display: -ms-inline-flexbox;
    }
  }
  &-disabled {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    opacity: 0.3;
    &-info {
      position: absolute;
      top: 50%;
      @include web_transform(translateY(-50%));
      left: 0;
      width: 100%;
      text-align: center;
      .text {
        font-size: 32px;
        color: $color_black;
        line-height: 1.4;
      }
      .box-btn {
        margin-top: 30px;
      }
    }
  }
}

.card {
  margin: 15px 0 30px;
  border-radius: 5px;
  @include web_transition(all .2s ease-in-out);
  &-image {
    height: 140px;
    padding: 20px;
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid $border_color_2;
    img {
      vertical-align: middle;
      & + img {
        margin-left: 30px;
      }
    }
  }
  &-title {
    margin: 0;
  }
  &:hover {
    box-shadow: 0 3px 15px 0 #C2C7D3;
    .card {
      &-title {
        color: $color_blue_5;
      }
    }
  }
  &-payment {
    font-size: 14px;
    margin: 20px 0;
    color: $color_gray_3;
    &:last-child {
      margin-bottom: 30px;
    }
    &.active {
      color: $color_gray_1;
    }
    &.inactive {
      background: $color_bg_control-disabled;
      color: $border_color_1;
    }
    &.checked {
      border-color: $color_blue_4;
      box-shadow: inset 0 0 0 1px $color_blue_4;
    }
    .status {
      font-size: 12px;
      text-transform: uppercase;
      background: $border_color_1;
      color: $color_white;
      width: 80px;
      line-height: 30px;
      border-radius: 5px;
      text-align: center;
      &.active {
        background: $color_blue_5;
      }
      &.inactive {
        background: $color_red_3;
      }
    }
    .card {
      &-body {
        min-height: 90px;
      }
    }
  }
}

.profile {
  &-info {
    text-align: center;
  }
  &-main {
    border-right: 1px solid $border_color_2;
  }
  &-info {
    margin-top: 10px;
    text-align: center;
    .user-status {
      margin-top: -20px;
    }
    .user-name {
      margin-top: 25px;
      margin-bottom: 5px;
    }
  }
  &-tabs {
    min-height: 600px;
    .nav-tabs {
      padding: 0 70px;
      margin: 20px 0 40px;
    }
    .tab-content {
      padding: 0 70px 70px;
      .tile-button {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .tile-button {
      .btn {
        min-width: 100px;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
  &-activity {
    &-item {
      padding: 15px 0 30px;
      font-size: 14px;
      line-height: 20px;
      position: relative;
      .ip {
        font-size: 13px;
        margin-top: 5px;
        line-height: 1;
      }
      .info {
        font-size: 12px;
        line-height: 1.4;
        color: $color_label;
        margin-top: 7px;
      }
      &:before {
        height: 100%;
        content: '';
        width: 1px;
        left: 120px;
        background: $border_color_2;
        position: absolute;
        top: 20px;
      }
      .col-date {
        width: 115px;
        text-align: right;
      }
      &:last-child {
        padding-bottom: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  &-photos-documents {
    .item-photo {
      margin-top: 30px;
      margin-bottom: 30px;
      .box-photo {
        margin-top: 21px;
        .btn,
        .name-photo {
          display: inline-block;
          vertical-align: middle;
        }
        .name-photo {
          color: #666666;
          font-size: 14px;
          line-height: 13px;
          padding-left: 24px;
          a {
            padding-left: 4px;
          }
        }
      }
    }
  }
  .block-authentification {
    &:not(:last-child) {
      border-bottom: 1px solid #E4E7ED;
      padding-bottom: 30px;
    }
    &:not(:first-child) {
      padding-top: 30px;
    }
    .box-authentification {
      &-header {
        h3,
        .block-status{
          display: inline-block;
          vertical-align: middle;
        }
        .block-status {
          margin: -2px 0 .75em;
          .box-status {
            height: 20px;
            width: 68px;
            border-radius: 5px;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            &.box-disabled {
              background-color: #E4E7ED;
              color: #000000;
            }
            &.box-enabled {
              background-color: #1875F0;
              color: #FFFFFF;
            }
          }
        }
      }
      .box-text {
        color: $color_black;
        font-size: 14px;
        line-height: 21px;
      }
      &-info{
        margin-top: 24px;
        .box-info{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          .box-control{
            .form-control{
              width: 400px;
              height: 38px;
            }
            padding-right: 20px;
          }
          .btn{
            margin-left: 20px;
          }
          .box-qr{
            padding-right: 38px;
          }
        }
        .box-app-info{
          color: $color_bg-courses;
          font-size: 13px;
          line-height: 18px;
          padding-left: 14px;
          border-left: 3px solid #1875F0;
          margin: 25px 0;
        }
        .box-btn{
          text-align: right;
          .btn{
            &:first-child{
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}