.form{
  &-small{
    width:360px;
    margin: 0 auto;
    padding: 30px 0;
    .form-group{
      margin-bottom: 30px;
    }
    .form-btn{
      margin-top: 30px;
    }
  }
  &-text{
    margin-bottom: 20px;
    color: $color_text_form;
    font-size: 14px;
    line-height: 1.15;
    p{
      &:not(:last-child){
        margin-bottom: 1.15em;
      }
    }
  }
  &-name{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid $border_color_1;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &-group{
    margin-bottom: 20px;
    &-lg{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  &-btn{
    margin-top: 20px;
    &-lg{
      margin-top: 30px;
    }
  }
  &-control{
    background: none;
    margin: 0;
    font-size: 12px;
    color: $color_text_form;
    outline: none;
    width: 100%;
    border: 1px solid $border_color_3;
    border-radius: 4px;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 1.05em 1.25em;
    background:$color_bg_control;
    font-family: $font_family;
    &:disabled{
      background: $color_bg_control-disabled!important;
      color: $color_link-page!important;
      border-color: $border_color_2!important;
    }
    &:focus,
    &:hover{
      border-color:$border_color_1;
      background: $color_white;
      box-shadow: none;
    }
    &::-webkit-input-placeholder{
      color: $color_gray_2;
    }
    &:-moz-placeholder{
      color: $color_gray_2;
    }
    &:-ms-input-placeholder{
      color: $color_gray_2;
    }
    &-upload{
      height: 210px;
      border: 2px dashed $border_color_1;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      text-transform: uppercase;
      font-family:$font_family-medium;
      background: none;
      margin-bottom: 20px;
      color: $color_gray_2;
      .box-icon{
        margin-bottom: 15px;
      }
      &.error{
        color: $color_red_1;
      }
      &.valid{
        color: $color_green_1;
      }
    }
    &.center{
      text-align: center;
    }
    &.error{
      border-color: $color_red_1;
    }
    &.valid{
      border-color: $color_green_1;
    }
    &.warning{
      border-color:$color_yellow_1;
    }

  }
  &-separator{
    font-size: 14px;
    color: $color_white;
    text-align: center;
    line-height: 20px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    .name{
      padding: 0 10px;
      display: inline-block;
      vertical-align: top;
      z-index: 1;
      position: relative;
      font-size: 12px;
      color: $color-gray_2;
      &:after,
      &:before{
        background: $color-gray_2;
        content: '';
        position: absolute;
        top:50%;
        height: 1px;
        width: 500%;
        min-width: 150px;
        opacity: 0.5;
      }
      &:after{
        left:100%;
      }
      &:before{
        right:100%;
      }
    }
    .text{
      margin-top: 15px;
    }
  }
  &-white{
    .form-control{
      border-color: $color_gray_3;
      color: $color_white;
      background: none;
    }
    .input-group-addon{
      background: none;
      border-color: $color_gray_3;
      font-weight: bold;
    }
  }
}
textarea.form-control{
  resize: vertical;
  max-height: 300px;
}
.input-group-addon{
  font-size: 1em;
}
.box-control{
  position: relative;
}
.control{
  &-label{
    color: $color_label;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: $font_family-medium;
  }
  &-link{
    color: $color_gray_2;
    font-size: 14px;
    right:15px;
    top:50%;
    @include web_transform(translateY(-50%));
    position: absolute;
    a{
      color: inherit;
    }
  }
  &-caption{
    color: $color_gray_2;
    font-size: 13px;
    right:8px;
    top:50%;
    @include web_transform(translateY(-50%));
    position: absolute;
    min-width: 30px;
    text-align: right;
    &+.form-control{
      padding-right: 40px;
    }
    a{
      color: inherit;
    }
  }
  &-lg{
    font-size: 14px;
    padding: 1.15em 1.65em;
  }

}
.box-checkbox{
  &+&{
    margin-top: 10px;
  }
  label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 0;
    text-align: left;
    line-height: 15px;
    padding: 0;
    padding-left:25px;
    font-size: 13px;
    font-weight: normal;
    color: $color-gray_2;
    min-height: 15px;
    min-width: 15px;
    vertical-align: top;
    &:before{
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid $border-color_1;
      margin-top: -8px;
      position: absolute;
      left: 0;
      top: 50%;
      color: $color_white;
      background: $color_white;
      border-radius: 2px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-align: center;
      line-height: 14px;
      font-size: 12px;
    }
  }
  &.top{
    label{
      &:before{
        top:0;
        margin-top: 0;
      }
    }
  }
  input[type=radio],
  input[type=checkbox] {
    display: none;
  }
  &:hover{
    label:before{
      border-color:$border-color_1;
    }
  }
  input[type=radio]:checked + label:before,
  input[type=checkbox]:checked + label:before{
    border-color: $color_blue_6;
    background: $color_blue_6;
  }
  input[type=radio]:checked + label:before{
    box-shadow: inset 0 0 0 3px $color_white;
  }
  input[type=checkbox]:checked + label:before{
    content:'\2714';
  }
  input[type=radio] + label:before{
    border-radius: 50%;
  }
  input:disabled + label{
    color:$color-text;
    &:before{
      box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
      background: $color-text;
    }
  }
  &.green{
    label:before{
      border-width: 2px;
      line-height: 12px;
    }
    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before{
      border-color: $color_green_1;
      background: $color_green_1;
    }
  }
}
select.form-control:not([size]):not([multiple]){
  height: calc(3.6em + 2px);
}
.box-select{
  position: relative;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &:after{
    content: '\0059';
    font-size: 11px;
    font-family: 'Glyphter';
    color: $color_gray_2;
    right: 0;
    top: 50%;
    position: absolute;
    line-height: 1em;
    margin-top: -.5em;
    margin-right: 10px;
    pointer-events: none;
  }
}