.table{
  width: 100%;
  th{
    color: $color_gray_1;
    text-align: left;
  }
  td{
    vertical-align: middle;
  }
  &-inner{
    font-size: 14px;
    >thead>tr>th{
      font-size: 12px;
      text-transform: uppercase;
      color: $color_gray_3;
      border: 0;
      font-family: $font_family-medium;
    }
    >tbody>tr>td,>thead>tr>th{
      text-align: left;
      &:first-child{
        padding-left: 30px;
      }
      &:last-child{
        padding-right: 30px;
      }
    }
  >tbody>tr>td{
    border-top: 0;
    border-bottom: 1px solid $color_bg_control;
  }
  }
  &-collapse{
    >tbody>tr{
      &:hover{
        background: $color_bg_table;
      }
    }
    .link-collapse{
      color: $color_text;
      .icon{
        font-size: 10px;
        color: $border_color_1;
      }
      &:not(.collapsed){
        color: $color_blue_1;
        font-weight: bold;
      }
    }
    .line-collapse{
      >td{
        padding-top: 0;
        padding-bottom: 0;
        border: 0!important;
      }
      background:$color_bg_table;
      .table{
        max-width: 650px;
        background: none;
      }
    }
    .info-collapse{
      padding: 10px 0;
    }
  }
  &-small{
    font-size: 13px;
    margin: 0;
    thead th{
      border: 0;
      color: $color_text-form;
    }
    td{
      color:$color_black;
      border: 0;
    }
    th,td{
      padding-top: 9px;
      padding-bottom: 9px;
    }
    >tbody>tr>td,>thead>tr>th{
      &:first-child{
        padding-left:0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }
  &-prices{
    margin: 0;
    font-size: 12px;
    thead th{
      color: $color_gray_2;
      border: 0;
    }
    td,th{
      border-color: transparent;
      &:first-child{
        padding-left: 20px;
      }
      &:last-child{
        padding-right: 20px;
        width: 35%;
      }
      padding: 13px 6px;
      text-align: left;
    }
    .value{
      color: $color_black;
    }
  }
  &-recent{
    .title{
      background-color: $color_bg_table;
      text-transform: uppercase;
      font-family: $font_family-medium;
      td{
        padding-top: 8px;
        padding-bottom: 8px;
        color: $color_gray_3;
      }
    }
    td{
      color: $color_gray_2;
    }
    td,th{
      &:first-child{
        width: 35%;
      }
      &:last-child{
        width: 35%;
      }
    }
  }
}
