<div class="currencies-line">
    <div class="row justify-content-between">
        <div class="col">
            <div class="content-label">Bitcoin / US Dollar</div>
            {% include "templates/parts/_dropdown-currency.html" %}
        </div>
        <div class="col">
            <div class="content-label">Last price</div>
            <div class="label-price cur-value">2678.1817 <span class="cur">USD</span></div>
        </div>
        <div class="col">
            <div class="content-label">Daily<span class="blue percent"><i class="icon icon-arrow-up icon-middle"></i> 15.45%</span></div>
            <div class="label-price cur-value">2678.1817 <span class="cur">USD</span></div>
        </div>
        <div class="col">
            <div class="content-label">Today’s open</div>
            <div class="label-price cur-value">2678.1817 <span class="cur">USD</span></div>
        </div>
        <div class="col hide-laptop">
            <div class="content-label">Day’s range</div>
            <div class="label-price cur-value">2657.94 - 2678.18 <span class="cur">USD</span></div>
        </div>
        <div class="col hide-laptop">
            <div class="content-label">24h volume</div>
            <div class="label-price cur-value">2678.1817 <span class="cur">USD</span></div>
        </div>
    </div>
</div>