<div class="date-range-dropdown dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle dropdown-control" aria-expanded="false">
        <i class="icon icon-calendar icon-left"></i> Date Range
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item">Date Range</a>
    </div>
</div>