<div class="row row-md justify-content-between">
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="images/deposit-icons/visa.svg" alt="">
                <img src="images/deposit-icons/MC-new.svg" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">Payment Card</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="images/deposit-icons/Bank.svg" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">Bank Transfer</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-image">
                <img src="images/deposit-icons/crypto-capital.svg" alt="">
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">CryptoCapital</h4>
            </div>
        </div>
    </div>
</div>