<div class="tile-button">
    <div class="text-center">
        <h3>Choose payment card</h3>
    </div>

    <div class="payment-method-card">
        <div class="card card-payment">
            <div class="card-body flexible">
                <div class="box-checkbox"><input type="radio" name="payment-card" id="card-1"/><label for="card-1"></label></div>
                <div class="image"><img src="images/deposit-icons/MC-new.svg" alt=""></div>
                <div class="number">XXXX XXXX XXXX 0208</div>
                <div class="name">SEDLUHOV VLADIMIR</div>
                <div class="date">08/19</div>
                <div class="status">Pending</div>
            </div>
        </div>
        <div class="card card-payment active checked">
            <div class="card-body flexible">
                <div class="box-checkbox"><input type="radio" name="payment-card" id="card-2"/><label for="card-2"></label></div>
                <div class="image"><img src="images/deposit-icons/MC-new.svg" alt=""></div>
                <div class="number">XXXX XXXX XXXX 0208</div>
                <div class="name">SEDLUHOV VLADIMIR</div>
                <div class="date">08/19</div>
                <div class="status active">ACTIVE</div>
            </div>
        </div>
        <div class="card card-payment inactive">
            <div class="card-body flexible">
                <div class="box-checkbox"><input type="radio" name="payment-card" id="card-3"/><label for="card-3"></label></div>
                <div class="image"><img src="images/deposit-icons/MC-new.svg" alt=""></div>
                <div class="number">XXXX XXXX XXXX 0208</div>
                <div class="name">SEDLUHOV VLADIMIR</div>
                <div class="date">08/19</div>
                <div class="status inactive">Inactive</div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a href="add-card.html" class="btn btn-primary btn-xl">Add a new Card</a>
    </div>
</div>