<div class="tile-button">
    <div class="text-center">
        <h3>You have no cards yet</h3>
        <div class="tile-text">Add a payment card and make a deposit in a few clicks.</div>
    </div>
    <div class="padding-block">
        <div class="row justify-content-between">
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-speed"></i>
                    <div class="control-label">Fast & easy</div>
                    Our payment card verification usually takes less than an hour
                </div>
            </div>
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-key"></i>
                    <div class="control-label">Secure</div>
                    All provided information is encrypted and securely stored
                </div>
            </div>
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-compliant"></i>
                    <div class="control-label">Convinient</div>
                    After successful card verification, you will be able to add funds in a few clicks
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="add-card.html" class="btn btn-primary btn-xl">Add a new Card</a>
    </div>
</div>