<div class="tile-button">
    <div class="text-center">
        <h3>Verify your identity to use this payment method</h3>
        <div class="tile-text">Our account limits will be also increased after successful verification</div>
    </div>
    <div class="padding-block">
        <div class="row justify-content-between">
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-speed"></i>
                    <div class="control-label">Simple</div>
                    Verification process is very simple and it would not take you much time
                </div>
            </div>
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-key"></i>
                    <div class="control-label">Secure</div>
                    All provided information is encrypted and securely stored
                </div>
            </div>
            <div class="col">
                <div class="payment-description">
                    <i class="icon icon-compliant"></i>
                    <div class="control-label">Compliant</div>
                    Verification procedure is fully compliant with AML and KYC regulations
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="verification.html" class="btn btn-primary btn-xl">Start Verification</a>
    </div>
</div>