<div class="balance-dropdown">
    <a class="link link-collapsed" role="button" data-toggle="collapse"  href="#collapseBalance" aria-expanded="true" aria-controls="collapseBalance">
        <i class="icon icon-balance icon-left"></i> Balance: <span class="cur">EUR</span> <span class="value">10024578256</span>
        <i class="icon icon-down icon-right"></i>
    </a>
    <div id="collapseBalance" class="panel-collapse collapse in">
       <div class="balance-info">
           <div class="main-info">
               <div class="row row-sm justify-content-between">
                   <div class="col">
                       <div class="cur"><i class="icon icon-btc-icon"></i>BTC</div>
                   </div>
                   <div class="col col-md-auto align-self-end"><div class="value">121256546556</div></div>

                   <div class="col col-md-auto align-self-end">
                       <div class="dropdown">
                           <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">EUR</a>
                           <div class="dropdown-menu">
                               <a class="dropdown-item">USD</a>
                               <a class="dropdown-item">LTC</a>
                               <a class="dropdown-item">BTC</a>
                           </div>
                       </div>
                   </div>
                   <div class="col col-md-auto align-self-end">10024578256</div>
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Available funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1.1216546.23
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Reserved funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1546,14
               </div>
           </div>
       </div>
       <div class="balance-info">
           <div class="main-info">
               <div class="row row-sm justify-content-between">
                   <div class="col">
                       <div class="cur"><i class="icon icon-rp-icon"></i>XRP</div>
                   </div>
                   <div class="col col-md-auto align-self-end"><div class="value">121256546556</div></div>

                   <div class="col col-md-auto align-self-end">
                       <div class="dropdown">
                           <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">EUR</a>
                           <div class="dropdown-menu">
                               <a class="dropdown-item">USD</a>
                               <a class="dropdown-item">LTC</a>
                               <a class="dropdown-item">BTC</a>
                           </div>
                       </div>
                   </div>
                   <div class="col col-md-auto align-self-end">10024578256</div>
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Available funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1.1216546.23
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Reserved funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1546,14
               </div>
           </div>
       </div>
       <div class="balance-info">
           <div class="main-info">
               <div class="row row-sm justify-content-between">
                   <div class="col">
                       <div class="cur"><i class="icon icon-etherium-icon"></i>ETH</div>
                   </div>
                   <div class="col col-md-auto align-self-end"><div class="value">121256546556</div></div>

                   <div class="col col-md-auto align-self-end">
                       <div class="dropdown">
                           <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">EUR</a>
                           <div class="dropdown-menu">
                               <a class="dropdown-item">USD</a>
                               <a class="dropdown-item">LTC</a>
                               <a class="dropdown-item">BTC</a>
                           </div>
                       </div>
                   </div>
                   <div class="col col-md-auto align-self-end">10024578256</div>
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Available funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1.1216546.23
               </div>
           </div>
           <div class="row justify-content-between">
               <div class="col">
                   Reserved funds, BTC:
               </div>
               <div class="col col-md-auto">
                   1546,14
               </div>
           </div>
       </div>
    </div>
</div>