<div class="currencies-dropdown dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">BTC/EUR</a>
    <div class="dropdown-menu">
        <a class="dropdown-item">BTC/USD <span>$0.00000</span></a>
        <a class="dropdown-item">LTC/USD <span>$0.00000</span></a>
        <a class="dropdown-item">LTC/BTC <span>฿0.00000</span></a>
    </div>
</div>