<div class="profile-activity">
    <div class="profile-activity-item">
        <div class="row row-md">
            <div class="col col-sm-auto col-date">
                <div class="date">22 Nov, 2017</div>
                <div class="time">18:28:39</div>
                <div class="ip">IP: 37.17.31.92</div>
            </div>
            <div class="col col-sm-auto">
                <div class="status">
                    <span class="circle green circle-md"></span>
                </div>
            </div>
            <div class="col">
                User accepted Terms of use
                <div class="info">
                    User read and accepted ToS, 'acceptedtos2'
                </div>
            </div>
        </div>
    </div>
    <div class="profile-activity-item">
        <div class="row row-md">
            <div class="col col-sm-auto col-date">
                <div class="date">22 Nov, 2017</div>
                <div class="time">18:28:39</div>
                <div class="ip">IP: 37.17.31.92</div>
            </div>
            <div class="col col-sm-auto">
                <div class="status">
                    <span class="circle red circle-md"></span>
                </div>
            </div>
            <div class="col">
                User verification rejected.
                <div class="info">
                    User verification rejected.
                </div>
            </div>
        </div>
    </div>
    <div class="profile-activity-item">
        <div class="row row-md">
            <div class="col col-sm-auto col-date">
                <div class="date">22 Nov, 2017</div>
                <div class="time">18:28:39</div>
                <div class="ip">IP: 37.17.31.92</div>
            </div>
            <div class="col col-sm-auto">
                <div class="status">
                    <span class="circle blue circle-md"></span>
                </div>
            </div>
            <div class="col">
                User requested new password
                <div class="info">
                    Password recovery request. User: 'up110907707', EMail: 'prskmitskevich@gmail.com',RecoveryKeyFingerPrint:
                    ''53d329cc107a54bc8de3baf4e11bfdbe'
                </div>
            </div>
        </div>
    </div>
</div>