<div class="modal fade" tabindex="-1" role="dialog" id="modal-wrong">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-form text-center">
                <div class="modal-status">
                    <div class="circle red circle-status"><i class="icon icon-exclam icon-middle"></i></div>
                </div>
                <h4 class="modal-title upper bold">Something went wrong</h4>

                <div class="modal-text">
                    We are very sorry, but an unexpected error occurred. Try to reload the page or come back later.
                </div>
                <div class="modal-btn">
                    <button type="button" class="btn btn-danger btn-xl" data-dismiss="modal">Reload Page</button>
                </div>
            </div>
        </div>
    </div>
</div>