<div class="modal fade" tabindex="-1" role="dialog" id="modal-success">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-form text-center">
                <div class="modal-status">
                    <div class="circle green circle-status"><i class="icon icon-check icon-middle"></i></div>
                </div>
                <h4 class="modal-title upper bold">Success</h4>

                <div class="modal-text">
                    Your operation was successful.
                </div>
                <div class="modal-btn">
                    <button type="button" class="btn btn-success btn-xl" data-dismiss="modal">Reload Page</button>
                </div>
            </div>
        </div>
    </div>
</div>