footer{
  text-align: left;
  color: $color_gray_2;
  font-size: 12px;
  background: $color_white;
  .navigate{
    padding: 20px 0 40px;
  }
  .partners{
    line-height: 62px;
    border-top: 2px solid $border_color_2;
    img{
      vertical-align: middle;
    }
  }
  .copy{
    color: $color_gray_2;
    background: $color_bg-dashboard;
    line-height: 58px;
  }
  .text{
    line-height: 1.33;
  }
  &.no-login{
    padding: 35px 20px;
    .copy{
      color: $color_gray_2;
      line-height: 20px;
      background: none;
    }
    .navigate{
      padding: 0;
      a{
        color: $color_text_form;
      }
    }
  }
}