header{
  text-align: center;
  border-bottom: 2px solid $border_color_2;
  padding: 7px 0;
  .logo{
    width: 111px;
  }
  .nav-main{
    margin-left: 50px;
  }
  .navigate{
    .btn{
      margin-left: 15px;
    }
    .dropdown-toggle{
      color: $color_blue_3;
      text-decoration: none;
      &:after{
        color: $border_color_1;
      }
    }
    .link{
      font-size: 20px;
      margin-left: 20px;
      .badge{
        border-radius: 50%;
        position: absolute;
        top:-22%;
        left:40%;
        font-size: 10px;
      }
    }
  }
  &.no-login{
    padding:20px 0;
    .logo{
      width: 170px;
    }
  }
  .dropdown-menu{
    min-width: 12rem;
    text-align: center;
  }
}
.header{
  &-navigate{
    padding: 20px 0;
    border-bottom: 2px solid $border_color_2;
    color: $color_link-page;
  }
}