.main{
  width: 100%;
  height: 100%;
}
.section-intro{
  width: 100%;
  min-height: 100%;
  justify-content:center;
  -ms-flex-pack: center!important;
  text-align: center;
  position: relative;
  .content{
    padding: 40px 0;
  }
  .logo{
    width: 438px;
    height: 438px;
    margin: 0 auto;
    padding-top: 35%;
    text-align: center;
    display: block;
    background: url("../images/GEAR.svg") no-repeat center;
    color: $color_text;

    img{
      width: 204px;
    }
  }
  .text{
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font_family-light;
    margin-top: 15px;
    line-height: 1.2;
  }
  canvas{
    background:$color_blue_2;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 480px) {
  .section-intro{
    .logo{
      width: 300px;
      height: 300px;
      background-size: 100% auto;
      padding-top: 27%;
      img{
        width: 184px;
      }
    }
  }
}