<table class="table table-inner table-collapse">
    <thead>
    <tr>
        <th>Order ID</th><th>Type</th><th>Market</th><th>Amount</th><th>Price</th><th>Created at</th><th>Completed at</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a class="link link-collapse" role="button" data-toggle="collapse"  href="#collapseTr1" aria-expanded="true">
                227000 <i class="icon icon-down"></i>
            </a>
        </td>
        <td><span class="green">Buy</span></td><td><span class="gray">BTC/EUR</span></td><td>0.087963582</td><td>16,4589.56</td>
        <td><span class="gray">Nov 20th 17 3:57 pm</span></td><td><span class="gray">Nov 23th 17 12:08 pm</span></td>
    </tr>
    <tr class="line-collapse">
        <td colspan="7">
            <div id="collapseTr1" class="panel-collapse collapse in show">
                <div class="info-collapse">
                    <div class="control-label">Trades For Order 277000</div>
                    <table class="table table-small">
                        <thead>
                        <tr><th>Trades ID</th><th>Amount</th><th>Price</th><th>Total</th><th>Completed at</th></tr>
                        </thead>
                        <tbody>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a class="link link-collapse collapsed" role="button" data-toggle="collapse"  href="#collapseTr2" aria-expanded="true">
                227000 <i class="icon icon-down"></i>
            </a>
        </td>
        <td><span class="green">Buy</span></td><td><span class="gray">BTC/EUR</span></td><td>0.087963582</td><td>16,4589.56</td>
        <td><span class="gray">Nov 20th 17 3:57 pm</span></td><td><span class="gray">Nov 23th 17 12:08 pm</span></td>
    </tr>
    <tr class="line-collapse">
        <td colspan="7">
            <div id="collapseTr2" class="panel-collapse collapse in">
                <div class="info-collapse">
                    <div class="control-label">Trades For Order 277000</div>
                    <table class="table table-small">
                        <thead>
                        <tr><th>Trades ID</th><th>Amount</th><th>Price</th><th>Total</th><th>Completed at</th></tr>
                        </thead>
                        <tbody>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a class="link link-collapse collapsed" role="button" data-toggle="collapse"  href="#collapseTr3" aria-expanded="true">
                227000 <i class="icon icon-down"></i>
            </a>
        </td>
        <td><span class="red">Sell</span></td><td><span class="gray">BTC/EUR</span></td><td>0.087963582</td><td>16,4589.56</td>
        <td><span class="gray">Nov 20th 17 3:57 pm</span></td><td><span class="gray">Nov 23th 17 12:08 pm</span></td>
    </tr>
    <tr class="line-collapse">
        <td colspan="7">
            <div id="collapseTr3" class="panel-collapse collapse in">
                <div class="info-collapse">
                    <div class="control-label">Trades For Order 277000</div>
                    <table class="table table-small">
                        <thead>
                        <tr><th>Trades ID</th><th>Amount</th><th>Price</th><th>Total</th><th>Completed at</th></tr>
                        </thead>
                        <tbody>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        <tr><td>227000</td><td>1.087963582</td><td>16,456895</td><td>0,9684951265</td><td><span class="gray">Nov 20th 17 3:57 pm</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>