<table class="table table-prices table-recent">
    <tbody>
        <tr class="title"><td colspan="3">Today</td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle gray"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td><span class="blue">0.08734042</span></td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle gray"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td><span class="blue">0.08734042</span></td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle gray"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td><span class="blue">0.08734042</span></td></tr>
        <tr class="title"><td colspan="3">July 16 2018</td></tr>
        <tr><td><span class="circle green"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr class="title"><td colspan="3">JULY 15 2018</td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle blue"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td><span class="blue">0.08734042</span></td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
        <tr><td><span class="circle blue"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td><span class="blue">0.08734042</span></td></tr>
        <tr><td><span class="circle"></span>1:52:35 AM</td><td><span class="value">2,547.17</span></td><td>0.08734042</td></tr>
    </tbody>
</table>