<table class="table table-prices">
    <tbody>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td><span class="blue">2673.2712</span></td><td><span class="blue">0.02993285</span></td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td><span class="blue">2673.2712</span></td><td><span class="blue">0.02993285</span></td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td><span class="blue">2673.2712</span></td><td><span class="blue">0.02993285</span></td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
        <tr><td>2673.2712</td><td>0.02993285</td><td>80.02</td></tr>
    </tbody>
</table>