<form class="form form-small" action="amount.html">
    <div class="text-center"><h3>Provide information about your card</h3></div>
    <div class="form-text text-center">You can use any Visa/MasterCard issued in any currency</div>
    <div class="form-group-lg">
        <div class="control-label">Card Number</div>
        <div class="box-control">
            <div class="control-caption"><i class="icon icon-mc"></i></div>
            <input type="text" class="form-control" placeholder="XXXX XXXX XXXX XXXX">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Cardholder's Name</div>
        <div class="box-control">
            <input type="text" class="form-control" placeholder="Mr Cardholder">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="row row-md">
            <div class="col">
                <div class="control-label">Expiry Date</div>
                <div class="row row-md">
                    <div class="col">
                        <div class="box-control">
                            <div class="box-select">
                                <select class="form-control">
                                    <option value="0" disabled selected>MM</option>
                                    <option value="0">1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-control">
                            <div class="box-select">
                                <select class="form-control">
                                    <option value="0" disabled selected>YY</option>
                                    <option value="0">1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="control-label">CVV/CVC</div>
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>XXX</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl">Next</button>
    </div>
</form>