<form class="form" action="done.html">
    <h4>Residental Adress</h4>
    {% include "templates/forms/_control-address.html" %}

    <h4>Billing Adress</h4>
    <div class="form-group">
        <div class="box-checkbox top">
            <input type="checkbox" id="same">
            <label for="same">Same as residental</label>
        </div>
    </div>
    {% include "templates/forms/_control-address.html" %}
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl">Next</button>
    </div>
</form>