<form class="form">
    <h3>BTC Withdraw</h3>
    <div class="form-text"><span class="blue">Avalible amount to withdraw: 10.0596895496 BTC</span></div>
    <div class="form-group">
        <div class="control-label">Amount to Withdraw</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">Withdraw Adress</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">Two-Factor Autentification</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-text">
        Transaction Fee: 0.000245
        <a href="#" class="link link-question link-middle" data-toggle="popover" data-placement="right"
           title="Tile info" data-content="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s">
            <i class="icon icon-question"></i>
        </a>
    </div>
    <div class="form-btn-lg text-center">
        <button type="submit" class="btn btn-primary btn-xl">Withdraw</button>
    </div>
</form>