<div class="block-authentification">
  <div class="box-authentification">
    <h3>Security</h3>
    <div class="box-text">
      Socium Trade strongly recomends you to activate one of the following security options. You can chose between one
      of the followingoptions: Google 2 factor autentificator or SMS based autentification. Note that only one can be
      activate at any given time, so choose an option that is more convinient for you. Enabling authentification will
      increase your security and minimise the risk ofgetting your account compromised.
    </div>
  </div>
</div>