<div class="block-authentification">
  <div class="box-authentification">
    <div class="box-authentification-header">
      <h3>SMS based authentication</h3>
      <div class="block-status">
        <div class="box-status box-disabled">disabled</div>
        <div class="box-status box-enabled">enabled</div>
      </div>
    </div>
    <div class="box-authentification-info">
      <form class="form">
        <div class="control-label">Current Phone NUmber</div>
        <div class="box-info align-items-start">
          <div class="box-control">
            <input type="text" class="form-control" value="+37529 855 48 69 ">
          </div>
          <a href="/" class="btn btn-outline-primary">Reset</a>

          <a href="/" class="btn btn-primary">Enable</a>
        </div>
      </form>
    </div>

  </div>
</div>