<div class="block-authentification">
  <div class="box-authentification">
    <div class="box-authentification-header">
      <h3>Authenticaticator App</h3>
      <div class="block-status">
        <div class="box-status box-disabled">disabled</div>
        <div class="box-status box-enabled">enabled</div>
      </div>
    </div>
    <div class="box-authentification-info">
      <div class="box-app-qr box-info align-items-start">
        <div class="box-qr ">
          <img src="images/Bitmap.png" alt="">
        </div>
        <form class="form">

          <div class="control-label">Authentication key</div>
          <div class="box-control">
            <input type="text" class="form-control">
          </div>
          <div class="form-group-lg">
            <div class="control-label">Authentication code</div>
            <div class="box-control">
              <input type="text" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="box-app-info">
        <span class="bold">Important Notice.</span> Always write down your authentication key! You will not be able to log in to your account if you lose your mobile device. If you are having problems with our system rejecting your authentication code, check your mobile device’s clock.
          It must be synchronized perfectly. Your device will generate a new code every 30 seconds.
      </div>
      <div class="box-btn">
        <a href="/" class="btn btn-outline-primary">Download PDF guide</a>

        <a href="/" class="btn btn-primary">Enable</a>
      </div>
    </div>

  </div>
</div>