<form class="form">
    <div class="form-group-lg">
        <div class="control-label">Current Password</div>
        <div class="box-control">
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">New Password</div>
        <div class="box-control">
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Repeat Password</div>
        <div class="box-control">
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl"><span class="upper">Save Password</span></button>
    </div>
</form>