<div class="form-group">
    <div class="label">Quantity to buy:</div>
    <div class="box-control">
        <div class="control-caption">BTC</div>
        <input type="text" class="form-control" placeholder="0.00">
    </div>
</div>
<div class="form-group">
    <div class="control-label">At the price:</div>
    <div class="box-control">
        <div class="control-caption">
            <a class="link link-question" data-toggle="popover" data-placement="right"
               data-content="System will automatically trade by market price(sorted from high price to low price) till all BTC/USD sold out.">
                <i class="icon icon-question icon-middle"></i>
            </a>
        </div>
        <input type="text" class="form-control" value="Buy at the optimal market price" disabled>
    </div>
</div>
<div class="form-group">
    <div class="label">Total</div>

    <div class="box-control">
        <div class="control-caption">USD</div>
        <input type="text" class="form-control" placeholder="0.00">
    </div>
</div>