<div class="form-group-lg">
    <div class="control-label">First Name</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Country</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Adress</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="row row-md">
        <div class="col-sm-7">
            <div class="control-label">City</div>
            <div class="box-control">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="control-label">Country code</div>
            <div class="box-control">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Date of Birth</div>
    <div class="row row-sm">
        <div class="col">
            <div class="box-control">
                <div class="box-select">
                    <select class="form-control">
                        <option value="0" disabled selected>DAY</option>
                        <option value="0">1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box-control">
                <div class="box-select">
                    <select class="form-control">
                        <option value="0" disabled selected>MONTH</option>
                        <option value="0">1</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="box-control">
                <div class="box-select">
                    <select class="form-control">
                        <option value="0" disabled selected>YEAR</option>
                        <option value="0">1</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Phone Number</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>