<div class="form-group">
    <div class="label">Quantity to buy:</div>
    <div class="box-control">
        <div class="control-caption">BTC</div>
        <input type="text" class="form-control" placeholder="0.00">
    </div>
</div>
<div class="form-group">
    <div class="label">At the price:</div>
    <div class="box-control">
        <div class="control-caption">USD</div>
        <input type="text" class="form-control" placeholder="0.00">
    </div>
</div>
<div class="form-group">
    <div class="label">Total</div>

    <div class="box-control">
        <div class="control-caption">USD</div>
        <input type="text" class="form-control" placeholder="0.00">
    </div>
</div>