<div class="form-group-lg">
    <div class="control-label">Choose country</div>
    <div class="box-control">
        <div class="box-select">
            <select class="form-control">
                <option value="0" disabled selected></option>
                <option value="0">1</option>
            </select>
        </div>
    </div>
</div>
<div class="form-group-lg">
    <div class="row row-md">
        <div class="col-sm-5">
            <div class="control-label">Country code</div>
            <div class="box-control">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">State/Province</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Document serial number</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">City</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="control-label">Street Address</div>
    <div class="box-control">
        <input type="text" class="form-control">
    </div>
</div>
<div class="form-group-lg">
    <div class="row row-md">
        <div class="col-sm-5">
            <div class="control-label">Apartment/Suite (Optional)</div>
            <div class="box-control">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>