<div class="spend-block">
    <form action="/order/limit"  method="POST">

        {% include "templates/forms/_control-market.html" %}

        <div class="form-group">
            <div class="order-total">
                <div class="row justify-content-between"><div class="col">Order:</div><div class="col value">0.20000000%</div></div>
            </div>
            <div class="order-total">
                <div class="row justify-content-between"><div class="col">Fee:</div><div class="col value">0.20000000%</div></div>
            </div>
            <div class="order-total total">
                <div class="row justify-content-between"><div class="col">Total:</div><div class="col value">$ 0.00</div></div>
            </div>
        </div>


        <div class="form-btn text-center">
            <button class="btn btn-lg  btn-info" type="submit">
                Sell BTC
            </button>
        </div>
    </form>
</div>