<form class="form">
    <div class="form-group-lg">
        <div class="control-label">Document Type</div>
        <ul class="nav nav-value">
            <li><a href="#">passport</a></li>
            <li class="active"><a href="#">Identity Card</a></li>
            <li><a href="#">Driving License</a></li>
        </ul>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Choose issuing country</div>
        <div class="box-control">
            <div class="box-select">
                <select class="form-control">
                    <option value="0" disabled selected></option>
                    <option value="0">1</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Place of Birth</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Document serial number</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Document issue date</div>
        <div class="row row-sm">
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>DAY</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>MONTH</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>YEAR</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Document expiration date</div>
        <div class="row row-sm">
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>DAY</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>MONTH</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box-control">
                    <div class="box-select">
                        <select class="form-control">
                            <option value="0" disabled selected>YEAR</option>
                            <option value="0">1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-lg">
        <div class="box-checkbox top">
            <input type="checkbox" id="date">
            <label for="date">Document without expiration date</label>
        </div>
    </div>
    <div class="form-group-lg">
        <div class="control-label">Tax reference number</div>
        <div class="box-control">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="box-checkbox top">
            <input type="checkbox" id="trn">
            <label for="trn">I don’t have TRN</label>
        </div>
    </div>
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl">Next</button>
    </div>
</form>