<form class="form">
    {% include "templates/forms/_control-personal.html" %}
    <div class="form-group-lg">
        <div class="box-checkbox top">
            <input type="checkbox" checked id="agree">
            <label for="agree">I Agree to receive notification e-mails from Sociumtrade</label>
        </div>
    </div>
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl"><span class="upper">Save Profile</span></button>
    </div>
</form>