<form class="form">
    <div class="form-group-lg">
        <div class="control-label">Gender</div>
        <ul class="nav nav-value">
            <li><a href="#"><div class="box-icon"><i class="icon icon-men"></i></div></a></li>
            <li class="active"><a href="#"><div class="box-icon"><i class="icon icon-woman"></i></div></a></li>
        </ul>
    </div>
    {% include "templates/forms/_control-personal.html" %}
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl">Next</button>
    </div>
</form>