<div class="profile-photos-documents">
    <div class="item-photo">
        <div class="control-label">Repeat Password</div>
        <div class="box-photo">
            <a href="/" class=" btn btn-primary"><i class="icon icon-camera icon-left icon-middle"></i>Upload</a>
            <div class="name-photo">
                <span>photo1.png</span><a class="close-img"><i class="icon-middle icon icon-close"></i></a>
            </div>
        </div>
    </div>
    <div class="item-photo">
        <div class="control-label">Back Side Photo ID Document (optional)</div>
        <div class="box-photo">
            <a href="/" class=" btn btn-primary"><i class="icon icon-camera icon-left icon-middle"></i>Upload</a>
            <div class="name-photo">
                <span>photo1.png</span><a class="close-img"><i class="icon-middle icon icon-close"></i></a>
            </div>
        </div>
    </div>
    <div class="item-photo">
        <div class="control-label">Proof of residence</div>
        <div class="box-photo">
            <a href="/" class=" btn btn-primary"><i class="icon icon-camera icon-left icon-middle"></i>Upload</a>
            <div class="name-photo">
                <span>photo1.png</span><a class="close-img"><i class="icon-middle icon icon-close"></i></a>
            </div>
        </div>
    </div>
</div>
