<form class="form form-small" action="trading.html">
    <h2>Sign in to Socium Trade.</h2>

    <div class="form-text">PIN has been sent to your email.</div>

    <div class="form-group has-error">

        <div class="control-label">Pin-code</div>
        <div class="box-control">
            <div class="control-link"><a href="/" class="link">Show</a></div>
            <input type="password" class="form-control control-lg" value="12345">
            <div class="invalid-feedback"><span>Please, enter correct pin</span></div>
        </div>
    </div>
    <div class="form-btn">
        <button type="submit" class="btn btn-primary btn-block btn-lg btn-circle">LOG IN</button>
    </div>
</form>