<form class="form form-small" action="pin.html">
    <h2>Get started trading without limits.</h2>

    <div class="form-text">Enter your details below.</div>

    <div class="form-group">
        <div class="control-label">E-mail</div>
        <div class="box-control">
            <input type="email" class="form-control control-lg" value="example@mail.com">
            <div class="invalid-feedback"><span>Please, enter correct e-mail</span></div>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label">PASSWORD</div>
        <div class="box-control">
            <div class="control-link"><a href="/" class="link">Show</a></div>
            <input type="password" class="form-control control-lg" value="12345">
        </div>
    </div>
    <div class="form-group">
        <div class="box-checkbox top green">
            <input type="checkbox" checked id="agree">
            <label for="agree">I agree to our Terms & Conditions and Anti-Spam Policy</label>
        </div>
    </div>
    <div class="form-btn">
        <button type="submit" class="btn btn-primary btn-block btn-lg btn-circle">Request token</button>
    </div>
    <div class="form-separator">
        <div class="name">Or sign up with</div>
    </div>
    <div class="row row-sm">
        <div class="col-6">
            <a href="/" class="btn btn-block btn-social btn-circle"><i class="icon icon-facebook icon-left"></i>Facebook</a>
        </div>
        <div class="col-6">
            <a href="/" class="btn btn-block btn-social btn-circle"><i class="icon icon-google-p icon-left"></i>Google</a>
        </div>
    </div>
</form>
