<form class="form form-small" action="pin.html">
    <h2>Sign in to Socium Trade.</h2>

    <div class="form-text">Enter your details delow.</div>

    <div class="alert alert-danger">There was some error on our side, please try again.</div>

    <div class="form-group">
        <div class="control-label">E-mail</div>
        <div class="box-control">
            <input type="email" class="form-control is-invalid control-lg" value="example@mail.com">
            <div class="invalid-feedback"><span>Please, enter correct e-mail</span></div>
        </div>
    </div>
    <div class="form-btn">
        <button type="submit" class="btn btn-primary btn-block btn-lg btn-circle">Request token</button>
    </div>
</form>
