<form class="form">
    <div class="form-control form-control-upload">
        <div class="row full-height">
            <div class="col align-self-center">
                <div class="box-icon"><i class="icon icon-upload"></i></div>
                Upload File
            </div>
        </div>
    </div>
    <div class="form-control form-control-upload valid">
        <div class="row full-height">
            <div class="col align-self-center">
                <div class="box-icon"><div class="circle green circle-status"><i class="icon icon-check icon-middle"></i></div></div>
                file uploaded
            </div>
        </div>
    </div>
    <div class="form-control form-control-upload error">
        <div class="row full-height">
            <div class="col align-self-center">
                <div class="box-icon"><div class="circle red circle-status"><i class="icon icon-exclam icon-middle"></i></div></div>
                file not loaded
            </div>
        </div>
    </div>
    <div class="form-btn text-right">
        <a href="/" class="btn btn-primary"><i class="icon icon-camera icon-left icon-middle"></i>Upload</a>
        <a href="/" class="btn btn-outline-primary ml-3">Reset</a>
    </div>
    <div class="form-group-lg">
        <div class="form-text">
            <p>
                To verify your account, please upload the required documents.<br/>
            The file has to be in JPG., GIF., PNG. format and no larger than 4 MB.<br/>
            <b>PDF files are not accepted.</b>
            </p>
            <p>
            Your identity verification will be processed within 24 working hours.
            </p>
            <p>
            All documents have to be clearly visible and in color.<br/>
            You may also be asked to provide a selfie holding your ID, a video chat call, bank account confirmation, or/and another types of additional verification.
            </p>
            <h4 class="gray">Requirements for identity cards and passports</h4>
            <p>
            For EU resident users, we accept international passports and national identity cards. For non-EU resident users, we accept only international passports.
            </p>
            <p>
            An international identity document has to have both sides uploaded.<br/>
            An ID card needs to have a photo.
            For international passports, we require only the first page with a photo.
            </p>
        </div>
    </div>
    <div class="form-btn text-center">
        <button type="submit" class="btn btn-primary btn-xl">Next</button>
    </div>
</form>