<form class="form">
    <div class="form-group-lg">
        <div class="control-label">Verification Type</div>
        <div class="box-control">
            <div class="box-select">
                <select class="form-control">
                    <option value="0" disabled selected>Verification Type</option>
                    <option value="0">1</option>
                    <option value="1">2</option>
                    <option value="2">3</option>
                </select>
            </div>
        </div>
    </div>
</form>