
    <div class="tile-tabs">
        <div class="row justify-content-between">
            <div class="col">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"><a class="active" href="#limit" aria-controls="limit" role="tab" data-toggle="tab">Limit price</a></li>
                    <li role="presentation"><a href="#market" aria-controls="market" role="tab" data-toggle="tab">Market price</a></li>
                </ul>
            </div>
            <div class="col col-md-auto">
                <a href="#" class="link link-question" data-toggle="popover" data-placement="right" title="A Limit order is an order to buy (or sell) at a specified price or better."
                   data-content="A Market order is the fastest and most reliable way to get in out of a trade. *The total BTC amount is calculated from the lowest price offered to a higher price until all funds are spent.">
                    <i class="icon icon-question"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="limit">
                <div class="tile-header">
                    <div class="btn-group nav nav-tabs nav-group" role="tablist">
                        <a class="btn btn-sell btn-lg col-6" href="#limit-sell" aria-controls="limit" role="tab" data-toggle="tab"><span class="upper">Sell BTC</span></a>
                        <a class="btn btn-buy btn-lg active col-6" href="#limit-buy" aria-controls="limit" role="tab" data-toggle="tab"><span class="upper">Buy BTC</span></a>
                    </div>
                    <div class="row">
                        <div class="col quick-info"><div class="label">Available:</div><div class="value blue">$ 232.13</div></div>
                        <div class="col quick-info"><div class="label">Reserved:</div> <div class="value">$ 8669.43</div></div>
                        <div class="col quick-info"><div class="label">Total:</div> <div class="value">$ 8901.56</div></div>
                    </div>
                </div>
                <div class="tile-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="limit-sell">
                            <div class="order-form">
                                {% include "templates/forms/_form-limit-sell.html" %}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="limit-buy">
                            <div class="order-form">
                                {% include "templates/forms/_form-limit-buy.html" %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="market">
            <div class="tile-header">
                <div class="btn-group nav nav-tabs nav-group" role="tablist">
                    <a class="btn btn-sell btn-lg col-6" href="#market-sell" aria-controls="market" role="tab" data-toggle="tab"><span class="upper">Sell BTC</span></a>
                    <a class="btn btn-buy btn-lg active col-6" href="#market-buy" aria-controls="market" role="tab" data-toggle="tab"><span class="upper">Buy BTC</span></a>
                </div>
                <div class="row">
                    <div class="col quick-info"><div class="label">Available:</div><div class="value">$ 232.13</div></div>
                    <div class="col quick-info"><div class="label">Reserved:</div> <div class="value">$ 8669.43</div></div>
                    <div class="col quick-info"><div class="label">Total:</div> <div class="value">$ 8901.56</div></div>
                </div>
            </div>
            <div class="tile-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="market-sell">
                        <div class="order-form">
                            {% include "templates/forms/_form-market-sell.html" %}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="market-buy">
                        <div class="order-form">
                            {% include "templates/forms/_form-market-buy.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>