<div class="tile-title">
    <div class="row justify-content-between">
        <div class="col">
            <h3>Open orders</h3>
        </div>
        <div class="col col-md-auto">
            <div class="tile-nav">
                <a class="btn btn-collapsed" role="button" data-toggle="collapse"  href="#collapseOrdersNull" aria-expanded="true" aria-controls="collapseOrdersNull">
                    <i class="icon icon-collapse"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="collapseOrdersNull" class="panel-collapse collapse in show">
    <div class="tile-body">
        <div class="order-null">You do not have open orders yet.</div>
    </div>
</div>