<div class="tile-title">
    <div class="row justify-content-between">
        <div class="col">
            <h3>Recent Trades</h3>
        </div>
        <div class="col col-md-auto">
            <div class="tile-nav">
                <a class="btn btn-collapsed" role="button" data-toggle="collapse"  href="#collapseRecent" aria-expanded="true" aria-controls="collapseRecent">
                    <i class="icon icon-collapse"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="collapseRecent" class="panel-collapse in collapse show">
    <div class="order-book">
        <div class="order-table-heading">
            <div class="heading-table">
                <table class="table table-prices table-recent">
                    <thead>
                    <tr><th>Date/Time</th><th>Price, USD</th><th>Quantity, BTC</th></tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="order-table-body">
            <div class="order-scroll-md scrollbar-inner">
                {% include "templates/tables/_table-resent.html" %}
            </div>
        </div>
    </div>
</div>