<div class="tile-title">
    <div class="row justify-content-between">
        <div class="col">
            <h3>Open orders</h3>
        </div>
        <div class="col col-md-auto">
            <div class="tile-nav">
                <a class="btn btn-collapsed" role="button" data-toggle="collapse"  href="#collapseOrders" aria-expanded="true" aria-controls="collapseOrders">
                    <i class="icon icon-collapse"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="collapseOrders" class="panel-collapse in collapse show">
    <div class="tile-body">
        <div class="order-scroll scrollbar-inner">
            <div class="order-preview">
                <div class="label">28 Oct 2017, 04:02 PM</div>
                <div class="info">
                    <div class="row row-sm justify-content-between">
                        <div class="col">
                            <span class="buy">Buy</span>
                            <span class="amount">0.00392436 BTC</span>
                        </div>
                        <div class="col col-md-auto">
                            <span class="at">at</span>
                            <span class="amount">2,548.18 USD</span>
                        </div>
                        <div class="col col-md-auto">
                            <a class="link link-close"><i class="icon icon-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-buy" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="order-preview">
                <div class="label">28 Oct 2017, 04:02 PM</div>
                <div class="info">
                    <div class="row row-sm justify-content-between">
                        <div class="col">
                            <span class="sell">Sell</span>
                            <span class="amount">0.00392436 BTC</span>
                        </div>
                        <div class="col col-md-auto">
                            <span class="at">at</span>
                            <span class="amount">2,548.18 USD</span>
                        </div>
                        <div class="col col-md-auto">
                            <a class="link link-close"><i class="icon icon-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-sell" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="order-preview">
                <div class="label">28 Oct 2017, 04:02 PM</div>
                <div class="info">
                    <div class="row row-sm justify-content-between">
                        <div class="col">
                            <span class="buy">Buy</span>
                            <span class="amount">0.00392436 BTC</span>
                        </div>
                        <div class="col col-md-auto">
                            <span class="at">at</span>
                            <span class="amount">2,548.18 USD</span>
                        </div>
                        <div class="col col-md-auto">
                            <a class="link link-close"><i class="icon icon-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-buy" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="order-preview">
                <div class="label">28 Oct 2017, 04:02 PM</div>
                <div class="info">
                    <div class="row row-sm justify-content-between">
                        <div class="col">
                            <span class="sell">Sell</span>
                            <span class="amount">0.00392436 BTC</span>
                        </div>
                        <div class="col col-md-auto">
                            <span class="at">at</span>
                            <span class="amount">2,548.18 USD</span>
                        </div>
                        <div class="col col-md-auto">
                            <a class="link link-close"><i class="icon icon-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="progress progress-small">
                    <div class="progress-bar progress-bar-sell" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>