{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="tile">
                                                <form class="form" action="thank-card.html">
                                                    <div class="tile-form-center">
                                                        <div class="form-group-lg text-center"><h3>Verification by Small Charge Amount</h3></div>
                                                        <div class="form-text">
                                                            <p>
                                                                We’ve submitted small verification charge to your payment card.<br/>
                                                                To confirm the ownership of the payment card you need to enter the exact amount
                                                                of this charge in USD into the verification form below
                                                            </p>
                                                            <p>
                                                                You may find out this amount in your online payment card statement or by contacting your bank
                                                            </p>
                                                            <p>
                                                                This charge will automatically refunded to you
                                                            </p>
                                                        </div>
                                                        <div class="form-group-lg">
                                                            <div class="row row-no">
                                                                <div class="col align-self-center">
                                                                    <div class="control-label mb-0">Please enter the exact
                                                                        amount of the charge below:</div>
                                                                </div>
                                                                <div class="col col-sm-2">
                                                                    <div class="box-control">
                                                                        <input type="text" class="form-control center" placeholder="0">
                                                                    </div>
                                                                </div>
                                                                <div class="col col-sm-auto align-self-center">
                                                                    <span class="mr-1 ml-1">.</span>
                                                                </div>
                                                                <div class="col col-sm-2">
                                                                    <div class="box-control">
                                                                        <input type="text" class="form-control center" placeholder="50">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group-lg">
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-primary btn-xl">Confirm</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}