{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="name-page">
                                                <h3 class="text-center">Choose deposit payment method</h3>
                                            </div>
                                            <div class="payment-method payment-disabled">
                                                {% include "templates/parts/_deposit-method.html" %}
                                                <div class="tile">
                                                    {% include "templates/parts/_deposit-identity.html" %}
                                                </div>
                                            </div>
                                            <div class="payment-disabled-info">
                                                <div class="text">
                                                    For demo version <br/>
                                                    this functionality is not available
                                                </div>
                                                <div class="box-btn">
                                                    <a href="trading.html" class="btn btn-primary btn-xl">Continue</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}