{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="tile">
                                                <form class="form" action="thank.html">
                                                    <div class="tile-form-center">
                                                        <div class="form-group-lg text-center"><h3>You are almost done.</h3></div>
                                                        <div class="form-text text-center">Now you may submit your application for approval.<br/>
                                                            Please, check your Verification form for mistakes before submitting it.</div>
                                                        <div class="form-group">
                                                            <div class="box-checkbox top">
                                                                <input type="checkbox" id="confirm">
                                                                <label for="confirm">I confirm that information I provided is correct, true, and up to date</label>
                                                            </div>
                                                            <div class="box-checkbox top">
                                                                <input type="checkbox" id="agree">
                                                                <label for="agree">I agree that my personal information will be accessed and reviewed by the Compliance Officer</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tile-button">
                                                        <div class="text-center">
                                                            <a href="#" class="btn btn-outline-primary btn-xl">Review Information</a>
                                                            <button type="submit" class="btn btn-primary btn-xl">Submit</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}