{% include "templates/base/_head-page.html" %}
    <div class="main">
        {% include "templates/_intro.html" %}
    </div>
    <script src="js/canvas.js"></script>
{% include "templates/base/_down-page.html" %}