{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row row-no full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col dashboard-courses col-md-auto">
                        {% include "templates/dashboard/_dashboard-courses.html" %}
                    </div>
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="row row-md">
                                            <div class="col">
                                                <div class="tile">
                                                    <div class="tile-button">
                                                        <button type="button" class="btn btn-success btn-xl" data-toggle="modal" data-target="#modal-success">Show modal success</button>
                                                        {% include "templates/modals/_modal-success.html" %}
                                                    </div>
                                                    <div class="tile-button">
                                                        <button type="button" class="btn btn-danger btn-xl" data-toggle="modal" data-target="#modal-wrong">Show modal wrong</button>
                                                        {% include "templates/modals/_modal-wrong.html" %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col col-md-auto dashboard-content-right">
                                                <div class="tile">
                                                    {% include "templates/dashboard/right-parts/_trade-orders.html" %}
                                                </div>
                                                <div class="tile">
                                                    {% include "templates/dashboard/right-parts/_trade-resent.html" %}
                                                </div>
                                                <div class="tile">
                                                    {% include "templates/dashboard/right-parts/_trade-orders-null.html" %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}