{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height">
            <div class="col col-12 align-self-start">
                {% include "templates/base/_header-no-login.html" %}
            </div>
            <div class="col col-12 align-self-center">
                <div class="container">
                    {% include "templates/forms/_pin.html" %}
                </div>
            </div>
            <div class="col col-12 align-self-end">
                {% include "templates/base/_footer-no-login.html" %}
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}