{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="tile">
                                                <form class="form" action="">
                                                    <div class="tile-form-center">
                                                        <div class="form-group-lg text-center">
                                                            <i class="icon icon-passport"></i>
                                                        </div>
                                                        <div class="form-group-lg text-center">
                                                            <h3>Thank you for your application</h3>
                                                        </div>
                                                        <div class="form-text text-center">
                                                            Your Verification form has been successfully submitted.<br/>
                                                            We will notify you via e-mail as soon as your application is reviewed
                                                        </div>
                                                    </div>
                                                    <div class="tile-button">
                                                        <div class="text-center">
                                                            <button type="submit" class="btn btn-primary btn-xl">Confirm</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}