{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row row-no full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                        <div class="col dashboard-courses col-md-auto">
                            {% include "templates/dashboard/_dashboard-courses.html" %}
                        </div>
                        <div class="col">
                            <div class="row full-height">
                                <div class="col col-12 align-self-start">
                                    <div class="dashboard-content">
                                        <div class="padding-block">
                                            <div class="row row-md">
                                                <div class="col">
                                                    {% include "templates/parts/_currencies-line.html" %}
                                                    <div class="row row-md">
                                                        <div class="col-6">
                                                            <div class="tile">
                                                                {% include "templates/dashboard/_quick-buy.html" %}
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="tile">
                                                                {% include "templates/dashboard/_quick-sell.html" %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tile">
                                                        {% include "templates/dashboard/_trade-charts.html" %}
                                                    </div>
                                                    <div class="tile">
                                                        {% include "templates/dashboard/_order-book.html" %}
                                                    </div>
                                                </div>
                                                <div class="col col-md-auto dashboard-content-right">
                                                    <div class="tile">
                                                        {% include "templates/dashboard/right-parts/_trade-orders.html" %}
                                                    </div>
                                                    <div class="tile">
                                                        {% include "templates/dashboard/right-parts/_trade-forms.html" %}
                                                    </div>
                                                    <div class="tile">
                                                        {% include "templates/dashboard/right-parts/_trade-resent.html" %}
                                                    </div>
                                                    <div class="tile">
                                                        {% include "templates/dashboard/right-parts/_trade-orders-null.html" %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-12 align-self-end">
                                    {% include "templates/base/_footer.html" %}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}