{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="name-page">
                                                <h3 class="text-center">Identify verification</h3>
                                            </div>
                                            <div class="tile">
                                                <div class="tile-tabs-content">
                                                    <ul class="nav nav-tabs nav-tabs-blue justify-content-between padding-block-xl" role="tablist">
                                                        <li role="presentation"><a class="active" href="#info" aria-controls="info" role="tab" data-toggle="tab">Personal Info</a></li>
                                                        <li role="presentation"><a href="#id" aria-controls="id" role="tab" data-toggle="tab">ID Type</a></li>
                                                        <li role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Documents Upload</a></li>
                                                        <li role="presentation"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Adresses</a></li>
                                                    </ul>
                                                    <div class="tab-content padding-block-xl">
                                                        <div role="tabpanel" class="tab-pane active" id="info">
                                                            {% include "templates/forms/_personal-info-ver.html" %}
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="id">
                                                            {% include "templates/forms/_id-type.html" %}
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="upload">
                                                            {% include "templates/forms/_upload-file.html" %}
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="address">
                                                            {% include "templates/forms/_addresses.html" %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}