{% include "templates/base/_head-page.html" %}
    <div class="main">
        <div class="row full-height is-vertical">
            <div class="header">
                {% include "templates/base/_header.html" %}
                {% include "templates/base/_header-navigate.html" %}
            </div>
            <div class="col dashboard">
                <div class="row row-no full-max-height">
                    <div class="col">
                        <div class="row full-height">
                            <div class="col col-12 align-self-start">
                                <div class="dashboard-content">
                                    <div class="padding-block">
                                        <div class="content-center"><!--max with 700px-->
                                            <div class="name-page">
                                                <h3 class="text-center">Withdrawal of funds</h3>
                                            </div>
                                            <div class="tile">
                                                <div class="tile-tabs-content">
                                                    <div class="nav-tabs nav-tabs-blue nav-tabs-blue-sm " role="tablist">
                                                        <ul class="nav justify-content-between tile-form-center  padding-block">
                                                            <li role="presentation"><a class="active" href="#tab-BTC" aria-controls="tab-BTC" role="tab" data-toggle="tab">BTC</a></li>
                                                            <li role="presentation"><a href="#tab-XRP" aria-controls="tab-XRP" role="tab" data-toggle="tab">XRP</a></li>
                                                            <li role="presentation"><a href="#tab-ETH" aria-controls="tab-ETH" role="tab" data-toggle="tab">ETH</a></li>
                                                            <li role="presentation"><a href="#tab-USD" aria-controls="tab-USD" role="tab" data-toggle="tab">USD</a></li>
                                                            <li role="presentation"><a href="#tab-EUR" aria-controls="tab-EUR" role="tab" data-toggle="tab">EUR</a></li>
                                                            <li role="presentation"><a href="#tab-CNY" aria-controls="tab-CNY" role="tab" data-toggle="tab">CNY</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="tile-form-center padding-block">
                                                        <div class="tab-content">
                                                            <div role="tabpanel" class="tab-pane active" id="tab-BTC">
                                                                {% include "templates/forms/_amount-withdraw.html" %}
                                                            </div>
                                                            <div role="tabpanel" class="tab-pane" id="tab-XRP"><h3>XRP Withdraw</h3></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-12 align-self-end">
                                {% include "templates/base/_footer-copy.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="col dashboard-amount col-sm-auto">
                        {% include "templates/dashboard/_dashboard-amount.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include "templates/base/_down-page.html" %}